.dl-horizontal dt {
    text-align: left;
    width: auto;
    padding-right: 1em;
}

.dl-horizontal dd {
    margin-left: 0;
}

.button-wrapper .btn {
    margin-bottom:5px;
}

.padded .form-group {
    margin-bottom:5px;
}

.button-wrapper .btn {
    margin-bottom:5px;
}


.label-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

.highlighted {
    background-color: yellow !important
}

.padded {
    padding-top: 2px;
    padding-bottom: 2px
}

.progressHeight {
    height: 20px
}

.progressLbl{
    color: black
}

.textCenter {
    text-align: center;
}

.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

.icon-blocks {
    -webkit-border-radius: 0.15em;
    -moz-border-radius: 0.15em;
    -ms-border-radius: 0.15em;
    -o-border-radius: 0.15em;
    border-radius: 0.15em;
    background: #1c94c6;
    color: #fff;
    display: block;
    float: left;
    margin: 0 0.5em 0 0;
    padding: 0.2em;
    position: relative;
    text-align: center;
    width: 1.6em;
}

.icon-blocks.icon-blocks--facebook {
    background: #3b5998;
}

.icon-blocks.icon-blocks--twitter {
    background: #00aced;
}

.icon-blocks.icon-blocks--paypal {
    background-color: #ff9a00;
}

.paypal{
    color: #ff9a00;
}

.nav-tabs.nav-condensed > li > a {
    padding-right: 12px;
    padding-left: 12px;
}

.wrap-link
{
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.masked {
    pointer-events: none;
    opacity: 0.4;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


/*.as-sortable-item, .as-sortable-placeholder {*/
    /*display: block;*/
/*}*/

.as-sortable-item {
    -ms-touch-action: none;
    touch-action: none;
    /* to disable context menu on iOS devices */
    -webkit-touch-callout: none;
}

.as-sortable-item-handle {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.as-sortable-placeholder {
}

.as-sortable-drag {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
    display: table-row;
}

.as-sortable-hidden {
    display: none !important;
}

.as-sortable-un-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.as-sortable-drag {
    opacity: .8;
}

.as-sortable-dragging{
    display: table !important;
    border-collapse: collapse; /* bootstrap table styling */
    border: 1px dotted #000 !important; 
}

.as-sortable-hidden {
}

.f2 {
    transition: all linear  0.40s;
}
.f2.ng-hide {
    opacity: 0;
}

.item-image{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 72px;
    height: 72px;
    margin-right: 6px;
    background-size: cover;
    border: 1px solid rgb(221,221,221);
    transition: 0.25s;
}

.index-item-image{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 60px;
    margin-right: 6px;
    background-size: cover;
    border: 1px solid rgb(221,221,221);
    transition: 0.25s;
    margin-bottom: 2px; 
    border-radius: 6px;
}


.item-image-big{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 96px;
    height: 96px;
    margin-right: 6px;
    background-size: cover;
    border: 1px solid rgb(221,221,221);
    transition: 0.25s;
}

.primary-stat {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    padding: 0 2px !important;
    background: rgba(255, 255, 255, 0.9);
    line-height: 13px;
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-weight: 700;
}

.skinny{
    margin-bottom: 5px !important
}

.Void{
    color: #b184c5;
}

.Solar{
    color: #f2721b;
}

.Arc{
    color: #85c5ec;
}

.Void-bg{
    background: #b184c5;
}

.Solar-bg{
    background: #f2721b;
}

.Arc-bg{
    background: #85c5ec;
}