extends layout

block content
    .jumbotron
        h2 About
        p
            | This is a hobby site I've setup to help people easily track their daily and weekly progress, along with those of their friends (and to try and learn some new stuff while I'm at it). The
            | main way I pay server bills for this site is with ads. If you use adblock software, please consider whitelisting this site. If you find the ads intrusive or inappropriate contact me.
        p
            | If you'd like to donate to help support us, that's much appreciated as well, just use the Paypal link below.
            | After your donation let me know if you'd like to be listed as a supporter for the site. If so I'll list your gamertag below and you'll get a special supporter tag
            span.glyphicon.glyphicon-star(style='color: gold')
            |   on all the app screens. Another way to help support the site is using the Amazon link below before buying something, that'll contribute a few bucks to the site from Amazon.
        .row
            .col-md-6(style="margin-bottom: 5px")
                form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                    input(type='hidden', name='cmd', value='_s-xclick')
                    input(type='hidden', name='hosted_button_id', value='VBASBDZD7HAHS')
                    input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
                    img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')
            .col-md-6
                .alignleft
                    script(type='text/javascript').
                        amzn_assoc_ad_type = 'banner';
                        amzn_assoc_tracking_id = 'destinychecklist-20';
                        amzn_assoc_marketplace = 'amazon';
                        amzn_assoc_region = 'US';
                        amzn_assoc_placement = 'assoc_banner_placement_default';
                        amzn_assoc_linkid = 'WF77VQC7R735WR2Y';
                        amzn_assoc_campaigns = 'videogames';
                        amzn_assoc_p = '20';
                        amzn_assoc_banner_type = 'category';
                        amzn_assoc_isresponsive = 'false';
                        amzn_assoc_banner_id = '1G3GV8H6WKRG674Y29R2';
                        amzn_assoc_width = '120';
                        amzn_assoc_height = '90';
                    script(src='//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1')


        h2 Updates
        p
            | For a while I tried to keep this page up to date with my latest changes, but I've been really bad about doing it. Please check out
            a(href='http://www.reddit.com/r/destinychecklistnet/') /r/destinychecklistnet
            |                        for the latest information about the site, especially new changes and enhancements. That's also the best place to post any questions, comments, feature requests, etc. Alternatively you also msg
            |                        me via
            a(href='http://www.reddit.com/message/compose/?to=dweezil22')  reddit
            |  or email me at destinychecklistnet at gmail.com. Thanks!
        h2 Follow/Like/Etc
        p
            | If you like using this site, help me out by following, liking and sharing with your friends:
            a.twitter-follow-button(href='https://twitter.com/DestinyChecklst', data-show-count='false', data-size='large') Follow @DestinyChecklst
            script.
                !function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + '://platform.twitter.com/widgets.js';
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, 'script', 'twitter-wjs');
            br
            span.fb-like(data-href='https://www.facebook.com/DestinyChecklist', data-layout='standard', data-action='like', data-show-faces='true', data-share='true')
        h2
            | Supporters
            span.glyphicon.glyphicon-star(style='color: gold')
        a(name='supporters')
        p
            | The following folks have helped support the site either through a donation of time, knowledge or money. Thanks! We appreciate it.
        p
        ul
            p
                each c in supporters
                    | - #{c}
                    br
    script.
        function initMe() {
            //nothing
        }