.visible-xs-block.textCenter
   //script(type='text/javascript').
      amzn_assoc_placement = "adunit0";
      amzn_assoc_search_bar = "false";
      amzn_assoc_tracking_id = "destinychecklist-20";
      amzn_assoc_ad_mode = "manual";
      amzn_assoc_ad_type = "smart";
      amzn_assoc_marketplace = "amazon";
      amzn_assoc_region = "US";
      amzn_assoc_title = "";
      amzn_assoc_linkid = "c99f3af4c8caec7cf478067a90b29712";
      amzn_assoc_asins = "B00HUWANOO,B00ZDNNRB8,B00VQFX578,B00ISW0TGW";
   //script(src='//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US')
   small.text-muted Advertisement
   script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
   // Destiny Responsive Ad-hoc mobile
   ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-4577479845324857', data-ad-slot='9199989722', data-ad-format='horizontal')
   script.
      (adsbygoogle = window.adsbygoogle || []).push({});