extends layout

block content
    - var tag = "cf"
    form
        .form-group
            .input-group#txtNameGrp
                .input-group-btn
                    input(id=tag + 'Platform', type='checkbox', data-toggle='toggle', data-on='PSN', data-off='XBL',
                    data-onstyle="success", data-offstyle="info")
                input.form-control(id=tag + 'Name',name='name', type='text', placeholder='Gamertag', required='')
                span.input-group-btn
                    button(id=tag + "ViewBtn",type='submit').btn.btn-primary <span class="hidden-xs">Calcified </span><i class="fa fa-diamond"></i>
    if (player.memberId == 0)
        script.
            function initMe() {
                tagSetupSearch("#{tag}");
            }
    else

        div(ng-app="cfApp",ng-controller="mainController")
            h1 #{player.name}
                | 
                a.btn.btn-info(role='button', href='/tabs/#{player.platform}/#{encodeURIComponent(player.name)}', title="View Player Report") Main
                | 
                a.btn.btn-info(role='button', href='?nocache=true', title="Force refresh from Bungie")
                    span.glyphicon.glyphicon-refresh
                span(ng-show="data.loading==true")
                    |  <i class="fa fa-refresh fa-spin"></i>
            div(ng-if="data.errormsg")
                .alert.alert-danger(role='alert')
                    span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
                    span  {{data.errormsg}}
    
            .form-group
                select.form-control(ng-options="option.label for option in data.chars", ng-model="data.selectedChar", ng-change="")
            .form-inline
    
                .form-group
                    .checkbox
                        label
                            input(type='checkbox',ng-model="data.hideComplete")
                            |  Hide Completed
    
            .table-responsive
                table.table
                    thead
                        tr.row
                            th
                                a(href="#", ng-click="data.sortType=='info.number'?data.sortReverse=!data.sortReverse:data.sortType='info.number'") #
                            th
                                a(href="#", ng-click="data.sortType=='name'?data.sortReverse=!data.sortReverse:data.sortType='name'") Name
                            th
                                a(href="#", ng-click="data.sortType=='info.activity'?data.sortReverse=!data.sortReverse:data.sortType='info.activity'") Activity
                            th
                                a(href="#", ng-click="data.sortType=='info.location'?data.sortReverse=!data.sortReverse:data.sortType='info.location'") Location
                            th Note
                    tbody
                        tr.row(ng-repeat="r in data.selectedChar.cf| orderBy:data.sortType:data.sortReverse | filter:filterItem",ng-class="r.complete?'success':''")
                            td
                                span.hidden-xs
                                    span(ng-if="r.complete") <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                    span(ng-if="!r.complete") <i class="fa fa-square-o" aria-hidden="true"></i>
                                span  {{r.info.number}}
                            td
                                a.wrap-link(ng-href="{{buildIgnUrl(r)}}" target="_blank" rel="noopener") {{r.name}}
                            td {{r.info.activity}}
                            td {{r.info.location}}
                            td {{r.info.note}}
    include adhocmobile
    script.
        var PLAYER_PLATFORM = #{player.platform};
        var MEMBER_ID = '#{player.memberId}';
        function initMe() {
        }