extends layout

block content
    - var tag = "grim"
    div(ng-app="checkRaidLeaderApp",ng-controller="mainController")
        h1 Check Gamertag for 390 Leaderboards
            span(ng-show="data.loading==true")
                |  <i class="fa fa-refresh fa-spin"></i>
        div(ng-if="data.errormsg")
            .alert.alert-danger(role='alert')
                span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
                span  {{data.errormsg}}
        p.help-block Use this form to submit your gamertag to see if any of your 390 Featured Raid completions qualify for the leaderboards. 
        form
            .form-group
                .input-group#txtNameGrp
                    .input-group-btn
                        input(id='checkPlatform', type='checkbox', data-toggle='toggle', data-on='PSN', data-off='XBL',
                        data-onstyle="success", data-offstyle="info")
                    input.form-control(name='name', type='text', placeholder='Gamertag', required='', ng-model='data.name')
                    span.input-group-btn
                        button(type='submit', ng-click="searchPlayer()").btn.btn-primary <span class="hidden-xs">Check Leaderboards </span><i class="fa fa-flag-checkered"></i>
        
        div(ng-repeat="c in data.chars")
            h3 {{c.race}} {{c.class}} - {{c.power}}
            .table-responsive
                table.table
                    thead
                        tr
                            th Name
                            th Date
                            th Leaderboard  Eligible
                                
                    tbody
                        tr(ng-repeat="row in c.candidates")
                            td {{row.match.name}} 
                            td {{row.match.dateDesc}}
                            td {{row.eligible}}
            //            tr.row(ng-repeat="r in data.selectedChar.cf| orderBy:data.sortType:data.sortReverse | filter:filterItem",ng-class="r.complete?'success':''")
            //                td
            //                    span.hidden-xs
            //                        span(ng-if="r.complete") <i class="fa fa-check-square-o" aria-hidden="true"></i>
            //                        span(ng-if="!r.complete") <i class="fa fa-square-o" aria-hidden="true"></i>
            //                    span  {{r.info.number}}
            //                td
            //                    a.wrap-link(ng-href="{{buildIgnUrl(r)}}" target="_blank") {{r.name}}
            //                td {{r.info.activity}}
            //                td {{r.info.location}}
            //                td {{r.info.note}}
        
       
        
        
            
    include adhocmobile
    script.
        
        function initMe() {
        }