extends layout

block content
    h3 The Darkness might as well come right in and take the place if that's all we've got. - Lord Shaxx
    p.text-danger=err.message

    if (err.status || err.stack)
        .button-wrapper
            button.btn.btn-info(type='button', data-toggle='collapse', data-target='#errDetails')
                | Details
        #errDetails.collapse
            .well
                p #{err.status}
                p #{err.stack}

    script.
        function initMe() {
            //nothing
        }