extends layout

block content
    div
        h1 Leaderboard FAQ
        div
            #accordion.panel-group
                .panel.panel-default
                    .panel-heading
                        h4.panel-title
                            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapse1') What is this new PVP tab?
                    #collapse1.panel-collapse.collapse.in
                        .panel-body
                            p 
                                | I got curious about how my performance differed with different guns. The problem with reporting this on my public site 
                                | was that detailed gun information is only available in a PostGameCarnageReport (PGCR), so reporting on the last 100 games 
                                | across 3 characters is 300 calls to the Bungie API. It doesn't exactly scale well. So instead I added it to this extension.
                            p 
                                | The tool downloads the list of games, up to 300 total, then incrementally downloads and caches the PGCR's for those games for 
                                | quicker future reporting. It then aggregates the game data by gun, to figure out what your avg KD/score/etc is for those games. 
                                | There are some unavoidable limitations in this, see below.
                .panel.panel-default
                    .panel-heading
                        h4.panel-title
                            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapse1a') What if I have a gun equipped but don't get a kill with it?
                    #collapse1a.panel-collapse.collapse
                        .panel-body
                            p
                                | If you have a gun equipped but don't kill with it, there is no evidence in the historical data that you had it, and the gun gets no credit 
                                | (or blame) for that game. This is unavoidable at the moment. Likewise the Bungie API doesn't track what gun you used to get assists, so that's a 
                                | limiting factor as well. 
                            
                            p
                                | Similarly if you change loadouts mid game and get kills with a lot of extra weapons, all guns share credit and blame for that 
                                | game's stats. Note that the tool does differentiate between "actual" kills (i.e. a kill you got with the gun directly) and things like K/D, which 
                                | instead factor all the game kills (other guns, supers, melees, grenades). 

                .panel.panel-default
                    .panel-heading
                        h4.panel-title
                            a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapse2') Some games seem to be missing, what's up?
                    #collapse2.panel-collapse.collapse
                        .panel-body
                            | Any game where you have zero kills and zero deaths is immediately discarded from the list. This keeps it from mucking up your overall averages. 
                            | On a related note, any game with kills and zero deaths will assume 0.1 death to avoid dividing by zero and breaking everything. 

            include adhocmobile
        script.
                function initMe() {
                    //nothing
                }