extends layout

block content
    - var tag = "grim"
    form
        .form-group
            .input-group#txtNameGrp
                .input-group-btn
                    input(id=tag + 'Platform', type='checkbox', data-toggle='toggle', data-on='PSN', data-off='XBL',
                    data-onstyle="success", data-offstyle="info")
                input.form-control(id=tag + 'Name',name='name', type='text', placeholder='Gamertag', required='')
                span.input-group-btn
                    button(id=tag + "ViewBtn",type='submit').btn.btn-primary <span class="hidden-xs">Grim </span><i class="fa fa-book"></i>
            
    if (player.memberId == 0)
        script.
            function initMe() {
                tagSetupSearch("#{tag}");
            }
    else
        div(ng-app="grimApp",ng-controller="mainController")
            h1 #{player.name}
                | 
                a.btn.btn-info(role='button', href='/tabs/#{player.platform}/#{encodeURIComponent(player.name)}', title="View Player Report") Main
                | 
                a.btn.btn-info(role='button', href='?nocache=true', title="Force refresh from Bungie")
                    span.glyphicon.glyphicon-refresh
                span(ng-show="data.loading==true")
                    |  <i class="fa fa-refresh fa-spin"></i>
            div(ng-if="data.errormsg")
                .alert.alert-danger(role='alert')
                    span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
                    span  {{data.errormsg}}
            p.lead {{data.totals.earnedPts}} / {{data.totals.totalPts}} points
            p {{data.totals.complete}} cards complete. {{data.totals.incomplete}} cards found but not yet complete. {{data.totals.missing}} not yet found.
            p.help-block Click rows to expand rank details. Click the row headers to sort. Completed items are default hidden, check below to show them. 
            .form-inline
                .form-group
                    //input.form-control(type='text', ng-model='data.showComplete', placeholder='Filter Text')
                    .checkbox
                        label
                            input(type='checkbox',ng-model="data.showComplete") 
                            |  Show Completed
    
            
            table.table
                thead
                    tr
                        th.col-xs-4 
                            a(href="#", ng-click="data.sortType=='cardName'?data.sortReverse=!data.sortReverse:data.sortType='cardName'") Name
                        th.col-xs-2
                            a(href="#", ng-click="data.sortType=='earnedPts'?data.sortReverse=!data.sortReverse:data.sortType='earnedPts'") Pts
                        th.col-xs-6
                            a(href="#", ng-click="data.sortType=='pctToNextRank'?data.sortReverse=!data.sortReverse:data.sortType='pctToNextRank'") Nxt Rk
                tbody
                    tr(ng-repeat-start="r in data.cards| orderBy:data.sortType:data.sortReverse | filter:data.searchText| filter:filterItem",ng-click="toggleRow(r)",class="accordion-toggle",ng-style="getStyle(r)")
                        td(style="max-width:100px")
                            a(ng-href="http://www.ishtar-collective.net/cards/{{r.id}}",target="_blank",data-cardid="{{r.id}}", rel="noopener")
                                span(ng-bind-html="r.cardName")
                            span(ng-if="r.stats.length>0") *
                        td {{r.earnedPts}} / {{r.totalPts}}
                        td 
                            span(ng-if="!r.complete") {{(r.pctToNextRank*100|number:0)}}% <br/> {{r.valToNextRank}} / {{r.thresholdNextRank}} {{r.lblNextRank}}
                            span(ng-if="r.complete") <i class="fa fa-check"></i>
                        
                    tr.hidRow(ng-repeat-end,id="row{{r.id}}",style="display:none")
                        td.hiddenRow(colspan='3')
                            .accordian-body.collapse(id="{{r.id}}")
                                div(ng-repeat="s in r.stats")
                                    b {{s.name}}: {{s.value}}
                                    div(ng-repeat="r in s.ranks")
                                        div Rank {{r.rank}}: {{r.threshold}}
                                        .progress
                                            .progress-bar.progress-bar-success(style='width: 100%',ng-if="r.complete")
                                                span 100%
                                            .progress-bar.progress-bar-warning(ng-style='{"min-width": "2em", "width": r.pctToNextRank*100+"%"}',ng-if="!r.complete && r.pctToNextRank>0") {{(r.pctToNextRank*100)|number:0}}%
                                            .progress-bar.progress-bar-danger(style='width: 2em',ng-if="!r.complete && r.pctToNextRank==0") 0%
    include adhocmobile
    script.
        var PLAYER_PLATFORM = #{player.platform};
        var MEMBER_ID = '#{player.memberId}';
        function initMe() {
        }