extends layout

block content
    - var tag = "gunsmith"
    div(ng-app="gunsmithApp",ng-controller="mainController")
        form
            .form-group
                .input-group#txtNameGrp
                    .input-group-btn
                        input(id=tag + 'Platform', type='checkbox', data-toggle='toggle', data-on='PSN', data-off='XBL',
                        data-onstyle="success", data-offstyle="info")
                    input.form-control(id=tag + 'Name',name='name', type='text', placeholder='Gamertag', required='')
                    span.input-group-btn
                        button(id=tag + "ViewBtn",type='submit').btn.btn-primary <i class="fa fa-crosshairs"></i>
        if (player.memberId == 0)
            p.bg-warning Enter a player name above to view personalized gunsmith progress..
            script.
                function initMe() {
                    tagSetupSearch("#{tag}");
                }
        else
            div
                h1 #{player.name} 
                    if special == true
                        a.btn.btn-info(role='button', href='https://www.destinychecklist.net/tabs/#{player.platform}/#{encodeURIComponent(player.name)}', title="View Player Report") Main
                        | 
                    else
                        a.btn.btn-info(role='button', href='/tabs/#{player.platform}/#{encodeURIComponent(player.name)}', title="View Player Report") Main
                        | 
                    a.btn.btn-info(role='button', href='?nocache=true', title="Force refresh from Bungie")
                        span.glyphicon.glyphicon-refresh
                    span(ng-show="data.loading==true")
                        |  <i class="fa fa-refresh fa-spin"></i>
                div(ng-if="data.errormsg")
                    .alert.alert-danger(role='alert')
                        span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
                        span  {{data.errormsg}}
    
                table.table.table-bordered(ng-if="data.chars && data.chars.length>0")
                    thead
                        tr
                            th(ng-repeat="char in data.chars") {{char.class}} {{char.power}}
                    tbody
                        tr
                            td(ng-repeat="char in data.chars", ng-class="getTestClass(char.publicAdv.gunsmith.tested)")
                                |{{char.publicAdv.gunsmith.tested}} / {{char.publicAdv.gunsmith.total}} 
                                span.hidden-xs test weapons complete
                        tr
                            td(ng-repeat="char in data.chars")
                                b Rank {{(char.publicAdv.gunsmith.faction.level)}},  
                                a(ng-href='{{buildNeonLink(char)}}', target='_blank', rel="noopener")
                                    | {{getRankProgressText(char.progress)}} to Rank {{(char.publicAdv.gunsmith.faction.level+1)}} 
                                .progress
                                    .progress
                                        div(ng-class="getProgressClass(char.progress)" ng-style='getRankProgressStyle(char.progress)')
    
        - var hasFoundry = foundry && foundry.length>0
                                                
        ul.nav.nav-tabs.nav-condensed(role='tablist')
            if hasFoundry
                li.active
                    a(href='#foundry', role='tab', data-toggle='tab') Foundry Rolls
            li(class="#{ hasFoundry ? '' : 'active' }")
                a(href='#banshee', role='tab', data-toggle='tab') Banshee-99
            li
                a(href='#notes', role='tab', data-toggle='tab') Notes
            
        .tab-content
            if hasFoundry
                #foundry.tab-pane.active
                    br
                    h4 Current Foundry Rolls From the Community
                        small.pull-right
                            a.btn.btn-primary.btn-xs(ng-click="launchCopyModal()", title="Copy for Reddit") 
                                i.fa.fa-clipboard
                                span.hidden-xs  Copy for reddit
                    .table-responsive
                        table.table.table-condensed
                            thead
                                tr
                                    th Gun
                                    th Rolls
                            tbody
                                each gun,index in foundry
                                    tr
                                        th #{index+1}) #{gun.name}
                                            p.text-muted #{gun.itemTypeName} 
                                                
                                            
                                        td
                                            table.table.table-striped
                                                each dmg in gun.damageAndSteps
                                                    tr
                                                        each col in dmg.steps
                                                            td
                                                                each node in col
                                                                    div #{node}
            #banshee(class="#{ hasFoundry ? 'tab-pane fade' : 'tab-pane active' }")
                br
                if !advisors
                    h4 Advisors Temporarily Disabled 
                    p Check back later for Foundry Orders and Test Weapons
                else
                    div
                        h4 Foundry Orders To Place
                        if !advisors.private.gunsmith.foundryOrders
                            if !advisors.private.gunsmith.fieldTestWeapons
                                p Banshee-44 is offline right now
                            else
                                p No foundry orders to display right now. Check back later in the week...
                        else
                            p.lead
                                each w in advisors.private.gunsmith.foundryOrders
                                    span(style="margin: 5px")
                                        span.label.label-primary.label-pill #{w.name}
                                    | 
                        h4 Field Test Weapons
                        if !advisors.private.gunsmith.fieldTestWeapons
                            p Banshee-44 is offline right now
                        else
                            table.table.table-striped
                                thead
                                    tr
                                        th Weapon
                                        th.hidden-xs Name
                                        th Task
                                tbody
                                    each w in advisors.private.gunsmith.fieldTestWeapons
                                        tr
                                            td #{w.type}
                                            td.hidden-xs #{w.name}
                                            td #{w.desc}
            #notes.tab-pane.fade
                br
                h4 Notes
                ul
                    li Curious about what to look for with your orders/drops? This Gunsmith <a href="https://docs.google.com/spreadsheets/d/1mzJoNjY3IWe1JCBKYIaOX3hOVc7dhIQ7Q5iKxU8fxzA/htmlview" target="_blank" rel="noopener">God Roll Table</a> from <a href="https://www.reddit.com/u/bileguzzler" target="_blank" rel="noopener">/u/bileguzzler</a> can help.
                    li For even more depth, <a href="https://dl.dropboxusercontent.com/u/8428354/Kyt_Kutcha%20Armsday%20Weapon%20Guide%202.3.1.pdf" target="_blank" rel="noopener">check out this fantastic guide</a>from <a href="https://www.reddit.com/u/uncleyosh" target="_blank" rel="noopener">/u/uncleyosh</a>
                    li Gunsmith test weapon progress is deduced based on your weekly progress. If you held back weapons from a previous week, or finished any gunsmith quests, this number may not be completely accurate. 
                    li If you want to help gather community data on the gunsmith package rolls, please use <a href="https://chrome.google.com/webstore/detail/destinychecklistnet-sprea/feapilfcgikmmcdhledhnaefdjjfdomm" target="_blank" rel="noopener"> this Chrome Extension</a> which, among other things, anonymously aggregates everyone's vendor rolls.
        #copyModal.modal.fade(tabindex='-1', role='dialog')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        | Copy and paste the text below to make a nicely formatted Reddit table.
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body
                        if hasFoundry
                            textarea.form-control(ng-model="data.redditRolls", rows="20")
                    .modal-footer.hidden-xs
                        button.btn.btn-default(type='button', data-dismiss='modal') Close               
        
           
    include adhocmobile
    if (hasFoundry)
        script.       
            var FOUNDRY_ROLLS = !{JSON.stringify(foundry).replace(/<\//g, "<\\/")};
    script.       
        var PLAYER_PLATFORM = #{player.platform};
        var PLAYER_NAME = '#{player.name}';
        var MEMBER_ID = '#{player.memberId}';
        
        function initMe() {
            tagSetupSearch("#{tag}");
        }