extends layout

block content
    - var tag = "ib"
    form
        .form-group
            .input-group#txtNameGrp
                .input-group-btn
                    input(id=tag + 'Platform', type='checkbox', data-toggle='toggle', data-on='PSN', data-off='XBL',
                    data-onstyle="success", data-offstyle="info")
                input.form-control(id=tag + 'Name',name='name', type='text', placeholder='Gamertag', required='')
                span.input-group-btn
                    button(id=tag + "ViewBtn",type='submit').btn.btn-primary <span class="hidden-xs">IB </span><i class="fa fa-flag" aria-hidden="true"></i>
    if (player.memberId == 0)
        p.bg-warning Right now you're viewing a generic calculator. Enter a player name above to view a personalized report instead. 
        script.
            function initMe() {
                tagSetupSearch("#{tag}");
            }
    div.container-fluid(ng-app="ibApp",ng-controller="mainController")
        if (player.memberId > 0)
            h1 #{player.name}
                | 
                if special == true
                    a.btn.btn-info(role='button', href='https://www.destinychecklist.net/tabs/#{player.platform}/#{encodeURIComponent(player.name)}', title="View Player Report") Main
                    | 
                else
                    a.btn.btn-info(role='button', href='/tabs/#{player.platform}/#{encodeURIComponent(player.name)}', title="View Player Report") Main
                    | 
                a.btn.btn-info(role='button', href='?nocache=true', title="Force refresh from Bungie")
                    span.glyphicon.glyphicon-refresh
                span(ng-show="data.loading==true")
                    |  <i class="fa fa-refresh fa-spin"></i>
        div(ng-if="data.errormsg")
            .alert.alert-warning(role='alert')
                span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
                span  {{data.errormsg}}
        if (player.memberId > 0)
            .form-group
                select.form-control(ng-options="option.label for option in data.chars", ng-model="data.selectedChar", ng-change="calcTable()")

        ul.nav.nav-tabs(role='tablist')
            li.active
                a(href='#info', role='tab', data-toggle='tab') <i class="fa fa-info"></i>
                    span.hidden-xs.hidden-sm.hidden-md  Info
            if (player.memberId > 0)
                li
                    a(href='#bounty', role='tab', data-toggle='tab') <i class="fa fa-check-square-o"></i>
                        span.hidden-xs.hidden-sm.hidden-md  Bounties Held
            li
                a(href='#table', role='tab', data-toggle='tab') <i class="fa fa-table"></i>
                    span.hidden-xs.hidden-sm.hidden-md  Table
            li
                a(href='#advanced', role='tab', data-toggle='tab') <i class="fa fa-cogs"></i>
                    span.hidden-xs.hidden-sm.hidden-md  Advanced
            li.hidden-xs
                a(href='#help', role='tab', data-toggle='tab') <i class="fa fa-question"></i>
                    span.hidden-xs.hidden-sm.hidden-md  Help
        br

        .tab-content
            #info.tab-pane.active
                p.bg-danger(ng-show="data.assumptions.advanced.overrideXP || data.assumptions.advanced.overrideAlt || data.assumptions.advanced.overrideNf") &nbsp;XP or Alt level are overridden (see advanced to clear)
                h4 Today's Info
                .row.padded
                    label.col-sm-2.control-label Level XP Progress
                    .col-sm-10.progressHeight
                        .progress
                            .progress-bar.progress-bar-info(ng-style='data.calculated.current.pctToNextRankStyle')
                                span.progressLbl &nbsp; {{data.calculated.current.rankProgress|number:0}}&nbsp;/&nbsp;{{data.calculated.current.rankTotal}}&nbsp; - {{data.calculated.current.pctToNextRank}}% to Rank {{data.calculated.current.nextRank}}
                .row.padded
                    label.col-sm-2.control-label Total XP Progress
                    .col-sm-10.progressHeight
                        .progress
                            .progress-bar.progress-bar-info(ng-style='data.calculated.current.pctToTotalStyle')
                                span.progressLbl &nbsp;{{data.calculated.current.xp|number:0}}&nbsp;/&nbsp;{{8500|number:0}}&nbsp; - {{data.calculated.current.pctToTotal}}%
                br
                .well
                    p 
                        span(ng-if="hasNightfallBonus()") You have the 25% Nightfall bonus. 
                        span You have {{data.calculated.current.xp}} Iron Banner experience (out of 8500 total). You are rank {{data.calculated.current.rank}}. Your max rank across all chars (for 100% alt bonus) is {{data.calculated.maxAlt}}.
                    p You have a {{data.calculated.table[0].bonus.alt*100|number:0}}% alt bonus, for a total bonus of <b>{{data.calculated.table[0].bonus.total*100|number:0}}%</b>.
                    p Today wins are worth <b>{{data.calculated.table[0].value.win}}xp</b> and medallions {{data.calculated.table[0].value.medallion}}xp. You have {{data.selectedChar.medallions}} medallions to cash in on your next win. Your next win today will  be worth {{data.selectedChar.medallions * data.calculated.table[0].value.medallion + data.calculated.table[0].value.win}} xp.
                    p You hold <a href="#" ng-click="showBountyTab()"><b>{{data.selectedChar.publicAdv.ib.bounties.length}} weekly bounties</b></a>, worth <b>{{data.calculated.table[0].value.wkBty}}xp</b> today.
                    div.alert.alert-success(ng-if="data.calculated.btyInfo.rank5.hasCompleted && data.calculated.btyInfo.rank5.moreForCompleted<=0") CONGRATS! YOU CAN TURN IN YOUR COMPLETED BOUNTIES NOW TO GET RANK 5!
                    div.alert.alert-info(ng-if="data.calculated.btyInfo.rank5.hasCompleted && data.calculated.btyInfo.rank5.moreForCompleted>0") &nbsp; You need {{data.calculated.btyInfo.rank5.moreForCompleted}} more xp to turn in your currently completed bounties for Rank 5
                h4 Assumptions (per day)
                form
                    .row.padded
                        label.col-xs-3.col-sm-1.control-label(for='sldMatches') Matches
                        .col-xs-5.col-sm-9
                            slider(min='0', max='50', step='1', ng-model='data.assumptions.matches', tooltip="hide", ng-change="calcTable()")
                        .col-xs-4.col-sm-2
                            input.form-control(min='0', max='50', type='number', ng-model='data.assumptions.matches', ng-change="calcTable()")
                    .row.padded
                        label.col-xs-3.col-sm-1.control-label(for='sldWinPct') Win %
                        .col-xs-5.col-sm-9
                            slider(min='0', max='100', step='1', ng-model='data.assumptions.winPct', tooltip="hide", ng-change="calcTable()")
                        .col-xs-4.col-sm-2
                            input.form-control(min='0', max='100', type='number', ng-model='data.assumptions.winPct', ng-change="calcTable()")
                    .row.padded
                        label.col-xs-3.col-sm-1.control-label(for='sldWinPct') Weekly Bounties
                        .btn-toolbar.col-xs-9.col-sm-11
                            .btn-group
                                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') {{data.btyWeekdays[data.assumptions.wkBty1]}} <span class="caret"/>
                                ul.dropdown-menu
                                    li(ng-repeat="day in data.btyWeekdays track by $index", ng-class="data.assumptions.wkBty1==$index?'active':''")
                                        a(ng-click="data.assumptions.wkBty1=$index; calcTable()", href='') {{day}}
                            .btn-group
                                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') {{data.btyWeekdays[data.assumptions.wkBty2]}} <span class="caret"/>
                                ul.dropdown-menu
                                    li(ng-repeat="day in data.btyWeekdays track by $index", ng-class="data.assumptions.wkBty2==$index?'active':''")
                                        a(ng-click="data.assumptions.wkBty2=$index; calcTable()", href='') {{day}}
                            .btn-group
                                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') {{data.btyWeekdays[data.assumptions.wkBty3]}} <span class="caret"/>
                                ul.dropdown-menu
                                    li(ng-repeat="day in data.btyWeekdays track by $index", ng-class="data.assumptions.wkBty3==$index?'active':''")
                                        a(ng-click="data.assumptions.wkBty3=$index; calcTable()", href='') {{day}}
                            .btn-group
                                button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown') {{data.btyWeekdays[data.assumptions.wkBty4]}} <span class="caret"/>
                                ul.dropdown-menu
                                    li(ng-repeat="day in data.btyWeekdays track by $index", ng-class="data.assumptions.wkBty4==$index?'active':''")
                                        a(ng-click="data.assumptions.wkBty4=$index; calcTable()", href='') {{day}}


                p.lead Projected Final Rank: {{data.calculated.final.rank}}
                p {{data.calculated.table[data.calculated.table.length-1].rank.msg}}. Weekly bounties worth a total of {{data.calculated.totalWeeklyBountyXp}} xp (bounties in the past are ignored).
                p
                .row.padded
                    label.col-sm-2.control-label Level XP Progress
                    .col-sm-10.progressHeight
                        .progress
                            .progress-bar.progress-bar-info(ng-style='data.calculated.final.pctToNextRankStyle')
                                span.progressLbl &nbsp; {{data.calculated.final.rankProgress|number:0}}&nbsp;/&nbsp;{{data.calculated.final.rankTotal|number:0}}&nbsp; - {{data.calculated.final.pctToNextRank}}% to Rank {{data.calculated.final.nextRank}}
                .row.padded
                    label.col-sm-2.control-label Total XP Progress
                    .col-sm-10.progressHeight
                        .progress
                            .progress-bar.progress-bar-info(ng-style='data.calculated.final.pctToTotalStyle')
                                span.progressLbl &nbsp;{{data.calculated.final.xp|number:0}}&nbsp;/&nbsp;{{8500|number:0}}&nbsp; - {{data.calculated.final.pctToTotal|number:0}}%
                hr
            #bounty.tab-pane.fade

                table.table.table-condensed
                    thead
                        tr
                            th Name
                            th Base XP
                            th Objectives
                    tbody
                        tr(ng-repeat="row in data.selectedChar.publicAdv.ib.bounties")
                            td {{row.name}}
                            td {{row.xp}}
                            td
                                p.text-muted.hidden-xs 
                                    small {{row.desc}}
                                div(ng-class="obj.isComplete?'bg-success':''" ng-repeat="obj in row.objectives")
                                    | &nbsp;
                                    span(ng-if="obj.isComplete")
                                        span.glyphicon.glyphicon-ok
                                        | &nbsp;
                                    | {{obj.progress}} / {{obj.total}} {{obj.desc}}
            #table.tab-pane.fade

                table.table.table-condensed
                    thead
                        tr
                            th Day
                            th Bonus
                            th End Rank
                            th XP
                    tbody
                        tr(ng-repeat="row in data.calculated.table")
                            td {{row.day}}
                            td {{(row.bonus.total*100).toFixed(0)}}%
                                span.hidden-xs.hidden-sm <br/>({{(row.bonus.gear*100).toFixed(0)}}% gear + {{(row.bonus.temper*100).toFixed(0)}}% temper + {{(row.bonus.alt*100).toFixed(0)}}% alt)
                            td {{row.rank.rank}}
                                span.hidden-xs.hidden-sm <br/>{{row.rank.msg}}
                            td
                                dl.dl-horizontal
                                    dt Win
                                    dd {{row.value.win}} xp x {{row.earned.win.cnt}}
                                    dt Wk Bty
                                    dd {{row.value.wkBty}} xp x {{row.earned.wkBounty.cnt}}
                                    dt Med
                                    dd {{row.value.medallion}} xp x {{row.earned.med.cnt}}
            #advanced.tab-pane.fade
                button.btn.btn-default(ng-click="data.assumptions.advanced = buildDefaultOverrides(); calcTable()") Clear Overrides
                ng-form(name="xpForm")
                    .form-group
                        label Override XP 
                        input.form-control(name="overrideXp", ng-model='data.assumptions.advanced.overrideXP', min='0', max='8500', type='number', ng-change="calcTable()")
                        p.help-block(ng-show="xpForm.overrideXp.$invalid && !xpForm.overrideXp.$pristine") Must be blank or between 0 and 8500.
                    .form-group
                        label Override Max Alt Level 
                        input.form-control(name="overrideAlt", ng-model='data.assumptions.advanced.overrideAlt', min='0', max='5', type='number', ng-change="calcTable()")
                        p.help-block(ng-show="xpForm.overrideAlt.$invalid && !xpForm.overrideAlt.$pristine") Must be blank or between 0 and 5.
                    .form-group
                        .checkbox
                            label
                                input(type='checkbox',ng-model="data.assumptions.advanced.overrideNf", ng-change="calcTable()")
                                |  Completed Nightfall
                p
                    | Fill in any days you wish. Blank days will be ignored and filled in days (even 0) will override your slider setting. Days already past will be ignored. All changes are applied
                    | instantly. Settings are saved for your next visit in local storage.
                .row(ng-repeat="override in data.assumptions.advanced.overrideDays track by $index")
                    div(ng-if="$index>=data.dayOfWeek")
                        ng-form(name="innerForm")
                            .form-group.col-xs-6
                                label {{data.weekdays[$index]}}
                                input.form-control(name="matches", type='number', min='0', max='50', ng-model="override.match", placeholder='Matches', ng-change="calcTable()")
                                p.help-block(ng-show="innerForm.matches.$invalid && !innerForm.matches.$pristine") Must be blank or between 0 and 50.
            #help.tab-pane.fade
                ul
                    li Lots of stuff just changed, more to come here. Temper and gear bonuses are gone though.
                    to change that use the bounty override. This way you can accurately report on a situation where you sit on bounties and turn in on, say, Monday for a higher bonus.
        include adhocmobile
    script.
        var PLAYER_PLATFORM = #{player.platform};
        var MEMBER_ID = '#{player.memberId}';
        function initMe() {
            //IB_JS().initMe();
        }