extends layout

block content

   
    if advisors
        h4 Daily and Weekly Info
        .panel.panel-default
            .panel-body(style="padding: 12px")
                if advisors.public
                    div.row
                        .col-xs-6
                            if advisors.public.weeklyStory
                                h5
                                    b Weekly Story
                                    span 
                                        each skull, index in advisors.public.weeklyStory.skulls
                                            small #{skull.displayName} 
                                                if (index < (advisors.public.weeklyStory.skulls.length - 1))
                                                    | | 
                            if advisors.public.weeklyHeroic
                                h5
                                    b Weekly Heroic
                                    span 
                                        each skull, index in advisors.public.weeklyHeroic.skulls
                                            small #{skull.displayName} 
                                                if (index < (advisors.public.weeklyHeroic.skulls.length - 1))
                                                    | | 
                            if advisors.public.nightfall
                                h5
                                    b NightFall
                                    span
                                        b.text-muted  #{advisors.public.nightfall.name} 
                                        each skull, index in advisors.public.nightfall.skulls
                                            small #{skull.displayName} 
                                                if (index < (advisors.public.nightfall.skulls.length - 1))
                                                    | | 
                            if advisors.public.wrChallengeMode
                                h5 
                                    b Wrath of the Machine
                                    |  #{advisors.public.wrChallengeMode}
                        .col-xs-6
                            if advisors.public.raidChallengeName
                                h5
                                    b Featured Raid
                                    span
                                        b.text-muted  #{advisors.public.raidChallengeName} 
                                        
                                        each skull, index in advisors.public.raidChallenges
                                            small #{skull.displayName} 
                                                if (index < (advisors.public.weeklyStory.skulls.length - 1))
                                                    | | 
                            if advisors.public.weeklyPvp
                                h5
                                    b Weekly PvP
                                    b.text-muted  #{advisors.public.weeklyPvp.activityName}
                            if advisors.public.coe
                                h5 
                                    b Challenge Of Elders
                                    |  
                                    each skull, index in advisors.public.coe.skulls
                                        small #{skull.displayName} 
                                            if (index < (advisors.public.coe.skulls.length - 1))
                                                || 
                if advisors.outfitter|| xur || artifacts
                    div.row
                        if advisors.outfitter
                            if (advisors.outfitter.emblems && advisors.outfitter.emblems.length>0)
                                div.col-xs-6
                                    h5 Emblems
                                    each itm, index in advisors.outfitter.emblems
                                        a(href="/vendor#emblems")
                                            if (itm.icon!=null)
                                                img.img-rounded(src="//www.bungie.net#{itm.icon}" height="40" width="40" title="#{itm.name}" style="padding-bottom: 2px")
                                            else
                                                img.img-rounded(src="/img/question.png" height="40" width="40" title="#{itm.name}" style="padding-bottom: 2px")
                                            | 
                                        if ((index + 1) % 6 == 0)
                                            br
                            if (advisors.outfitter.shaders && advisors.outfitter.shaders.length>0)
                                div.col-xs-6 
                                    h5 Shaders
                                    each itm in advisors.outfitter.shaders
                                        a(href="/vendor#shaders")
                                            if (itm.icon!=null)
                                                img.img-rounded(src="//www.bungie.net#{itm.icon}" height="40" width="40" title="#{itm.name}" style="padding-bottom: 2px")
                                            else
                                                img.img-rounded(src="/img/question.png" height="40" width="40" title="#{itm.name}" style="padding-bottom: 2px")
                                        | 
                        if xur && xur.length>0
                            div.col-xs-6
                                h5 Xur
                                each r in xur
                                    a(href="/vendor")
                                        if (r.item.icon != null)
                                            //img.img-rounded(src="//www.bungie.net#{itm.icon}" height="40" width="40" title="#{itm.name}" style="padding-bottom: 2px")
                                            span.index-item-image(style='background-image: url(https://www.bungie.net' + r.item.icon + ')' title="#{r.item.name}" )
                                                if (r.item.quality)
                                                    .primary-stat #{r.item.qualityPct}% #{r.item.quality.statSplit}
                                        else
                                            span.index-item-image(style='background-image: url(/img/question.png); padding-bottom: 2px; border-radius: 8px;')
                                                if (r.item.quality)
                                                    .primary-stat #{r.item.qualityPct}% #{r.item.quality.statSplit}
                                            
                                            //img.img-rounded(src="/img/question.png" height="40" width="40" title="#{itm.name}" style="padding-bottom: 2px")
                                    | 
                        if artifacts && artifacts.length>0
                            div.col-xs-6
                            div.col-xs-6
                                h5 Tyra Artifacts
                                each r in artifacts
                                    span.index-item-image(style='background-image: url(https://www.bungie.net' + r.item.icon + ')' title="#{r.item.name}" )
                                        .primary-stat #{r.item.qualityPct}% #{r.item.quality.statSplit}
                                    
                                    //span  
                                    //    a(href="/vendor#armor")
                                    //        if (r.item.icon!=null)
                                    //            img.img-rounded(src="https://www.bungie.net#{r.item.icon}" height="40" width="40" title="#{r.item.name}" style="padding-bottom: 2px")
                                    //        else
                                    //            img.img-rounded(src="/img/question.png" height="40" width="40" title="#{r.item.name}" style="padding-bottom: 2px")
                                    //    small  #{r.item.shortDesc}  
                                        
            

    h4 Search for Player
        .panel.panel-default
            .panel-body(style="padding: 12px")
                form
                    .form-group
                        .input-group#txtNameGrp
                            .input-group-btn
                                input#selPlatform(type='checkbox', data-toggle='toggle', data-on='PSN', data-off='XBL',
                                data-onstyle="success", data-offstyle="info")
                            input#txtName.form-control(name='name', type='text', placeholder='Gamertag', required='')
                            span.input-group-btn
                                button#viewBtn.btn.btn-primary(type='submit')
                                    i.fa.fa-search
                    .btn-toolbar
                        .button-wrapper
                            button#ibChooseBtn.btn.btn-default(type='submit') <span class="hidden-xs">Iron Banner</span> <i class="fa fa-flag" aria-hidden="true"></i>
                            button#cfChooseBtn.btn.btn-default(type="submit")
                                span.hidden-xs Calcified Fragments <i class="fa fa-diamond"></i>
                                span.visible-xs <i class="fa fa-diamond"></i>
                            button#grimChooseBtn.btn.btn-default(type="submit")
                                span.hidden-xs Grimoire <i class="fa fa-book"></i>
                                span.visible-xs <i class="fa fa-book"></i>
                            //button#srlChooseBtn.btn.btn-default(type="submit") SRL
                            button#saveBtn.btn.btn-default(type='submit',title="Save to list below")
                                span.hidden-xs Save 
                                i.fa.fa-floppy-o(aria-hidden="true")
    
    div
        .hidden.table#favTableParent
            table#favTable.table
                thead
                    tr
                        th(colspan='5') Bookmarked Players
                tbody
        button#bulkBtn.btn.btn-sm.btn-default(style='margin-bottom: 10px',type='button', disabled='') View selected

        include adhocmobile
        br
        .form-group
            label(for='txtClanGrp') View Clan Info
            .input-group#txtClanGrp
                .input-group-btn
                    input#selClanPlatform(type='checkbox', data-toggle='toggle', data-on='PSN', data-off='XBL',
                    data-onstyle="success", data-offstyle="info")
                input#txtClanName.form-control(name='clanName', type='text', placeholder='Clan Name')
                span.input-group-btn
                    button#clanBtn.btn.btn-default(type='button')
                        i.fa.fa-search
            .help-block Make sure to set "XBL/PSN" above to properly, otherwise you may find an empty clan

    script.
        function initMe() {
            INDEX_JS().initMe();
        }