doctype html
html
    head
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        title #{title}
        if (csstheme != null)
            link#csstheme(href="#{csstheme}", rel="stylesheet")
        else
            link#csstheme(href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css", rel="stylesheet")
        link(href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
        link(href="/css/site.min.css?v=_11", rel="stylesheet")
        link(rel="apple-touch-icon",sizes="57x57" href="/icons/apple-touch-icon-57x57.png")
        link(rel="apple-touch-icon",sizes="60x60" href="/icons/apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon",sizes="72x72" href="/icons/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon",sizes="76x76" href="/icons/apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon",sizes="114x114" href="/icons/apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon",sizes="120x120" href="/icons/apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon",sizes="144x144" href="/icons/apple-touch-icon-144x144.png")
        link(rel="apple-touch-icon",sizes="152x152" href="/icons/apple-touch-icon-152x152.png")
        link(rel="apple-touch-icon",sizes="180x180" href="/icons/apple-touch-icon-180x180.png")
        link(rel="icon" type="image/png",href="/favicon-32x32.png" sizes="32x32")
        link(rel="icon" type="image/png",href="/icons/android-chrome-192x192.png" sizes="192x192")
        link(rel="icon" type="image/png",href="/favicon-96x96.png",sizes="96x96")
        link(rel="icon" type="image/png",href="/favicon-16x16.png",sizes="16x16")
        link(rel="manifest" href="/manifest.json")
        meta(name="msapplication-TileColor",content="#da532c")
        meta(name="msapplication-TileImage",content="/icons/mstile-144x144.png")
        meta(name="theme-color",content="#ffffff")
        if special == true
            meta(name="description" content="#{metaDesc}")
        else
            meta(name="description" content="Report on Destiny progress and stats. Raids, weekly PvE activities, and PVP info")
    body
        
        .container-fluid
            // header
            nav.navbar.navbar-default
                .container-fluid
                    .navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar')
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        if special == true
                            a.navbar-brand(href='/') #{title}
                        else
                            a.navbar-brand(href='/', style='padding-top: 6px; padding-bottom: 6px')
                                img(alt='Brand', height='38px', width='38px', src='/icons2/icon-38.png')
                    #navbar.navbar-collapse.collapse
                        if special == true
                            ul.nav.navbar-nav
                                li
                                    a(href='https://www.destinychecklist.net') <i class="fa fa-check-square-o" aria-hidden="true"></i> DestinyCheckList.net
                                li
                                    a(href=aboutLink) <i class="fa fa-info-circle" aria-hidden="true"></i> About
                                li.dropdown
                                    a.dropdown-toggle(href='#', target='_self', data-toggle='dropdown')
                                        | <i class="fa fa fa-adjust" aria-hidden="true"></i> Themes
                                        span
                                            span.caret
                                    ul.dropdown-menu
                                        li
                                            a.cssSelector(href='#', target='_self', data-name='', data-url='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css') Default
                                        li
                                            a.cssSelector(href='#', target='_self', data-name='Slate', data-url='//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.4/slate/bootstrap.min.css') Slate
                                        li
                                            a.cssSelector(href='#', target='_self', data-name='Journal', data-url='//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.4/journal/bootstrap.min.css') Journal
                                        li
                                            a.cssSelector(href='#', target='_self', data-name='Darkly', data-url='//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.4/darkly/bootstrap.min.css') Darkly
                        else
                            ul.nav.navbar-nav
                                form.navbar-form.navbar-left(role='search')
                                    .form-group
                                        .input-group
                                            .input-group-btn
                                                input#layoutPlatform(type='checkbox', data-toggle='toggle', data-on='PSN', data-off='XBL', data-onstyle="default", data-offstyle="default", data-brightoff="true")
                                            input#layoutName.form-control(name='name', type='text', placeholder='Gamertag', required='')
                                            .input-group-btn
                                                button#layoutViewBtn.btn.btn-default(type='submit', title="Weekly report search")
                                                    i.fa.fa-search
                                li
                                    a(href='https://gear.destinychecklist.net' target="_blank" rel="noopener") <i class="fa fa-cog" aria-hidden="true" title="Gear"></i>
                                        span.hidden-sm.hidden-md  Gear
                                li.dropdown
                                    a.dropdown-toggle(href='#', target='_self', data-toggle='dropdown' title="Leaderboards")
                                        | <i class="fa fa-star-o" aria-hidden="true"></i> 
                                        span.hidden-sm.hidden-md Leaderboards
                                        span
                                            span.caret
                                    ul.dropdown-menu

                                        li
                                            a(href='/leaderAOT/ce') Crota's End 390
                                        li
                                            a(href='/leaderAOT/vog') Vault of Glass 390
                                        li
                                            a(href='/leaderAOT/kf') King's Fall 390
                                        li
                                            a(href='/leaderPvp') Weekly PVP Kills
                                        li
                                            a(href='/leaderFAQ') FAQ
                                        li.divider
                                        li
                                            a(href='/leaderROIHM') HM Wrath of the Machine Raid
                                        li
                                            a(href='/leaderROI') NM Wrath of the Machine Raid
                                        
                                        
                                li
                                    a(href='/vendor') <i class="fa fa-balance-scale" aria-hidden="true" title="Vendors"></i>
                                        span.hidden-sm.hidden-md  Vendors
                                
                                li
                                    a(href='/aotlight') <i class="fa fa-arrow-up" aria-hidden="true" title="AoT LL Gd"></i> 
                                        span.hidden-md.hidden-sm  AoT LL Gd
                                li.dropdown
                                    a.dropdown-toggle(href='#', target='_self', data-toggle='dropdown' title="Misc")
                                        | <i class="fa fa-paint-brush" aria-hidden="true"></i> 
                                        span.hidden-sm.hidden-md  Misc
                                        span
                                            span.caret
                                    ul.dropdown-menu
                                        li
                                            a(href='/oracle') <i class="fa fa-sun-o" aria-hidden="true"></i> Oracles 
                                        li
                                            a(href='/gunsmith') <i class="fa fa-bullseye" aria-hidden="true"></i> Gunsmith
                                        li.divider
                                        li
                                            a.cssSelector(href='#', target='_self', data-name='', data-url='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css') Default Theme
                                        li
                                            a.cssSelector(href='#', target='_self', data-name='Slate', data-url='//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/slate/bootstrap.min.css') Slate Theme
                                        li
                                            a.cssSelector(href='#', target='_self', data-name='Journal', data-url='//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/journal/bootstrap.min.css') Journal Theme
                                        li
                                            a.cssSelector(href='#', target='_self', data-name='Darkly', data-url='//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/darkly/bootstrap.min.css') Darkly Theme
                                li
                                    a(href='/about') <i class="fa fa-info-circle" aria-hidden="true" title="About"></i> 
                                        span.hidden-md.hidden-sm  About

            div.textCenter
                .alert.alert-info.alert-dismissible(role='alert')
                    button.close(type='button', data-dismiss='alert', aria-label='Close')
                        span(aria-hidden='true') ×
                    | This site is for the original Destiny game. Are you playing for Destiny 2? 
                    br
                    strong <a href="https://www.d2checklist.com">D2Checklist.com is what you want</a>

            .row
                if (shownews)
                    .col-lg-2.col-md-2.hidden-sm.hidden-xs
                        .hidden-md
                            include news
                    #center.col-lg-6.col-md-6.col-sm-9.col-xs-12
                        block content
                else
                    .col-lg-1.hidden-md.hidden-sm.hidden-xs
                    #center.col-lg-7.col-md-8.col-sm-9.col-xs-12
                        block content
                // footer
                #leftside.col-lg-4.col-md-4.col-sm-3.hidden-xs
                    small.text-muted Advertisement
                    script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
                    // Destiny Responsive Right
                    ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-4577479845324857', data-ad-slot='7862857321', data-ad-format='vertical')
                    script.
                        (adsbygoogle = window.adsbygoogle || []).push({});
            #bottom.textCenter.hidden-xs
                // Destiny Responsive Banner
                .alignleft
                    small.text-muted Advertisement
                    ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-4577479845324857', data-ad-slot='6246523328', data-ad-format='horizontal')
                    script.
                        (adsbygoogle = window.adsbygoogle || []).push({});
            #footer
                .navbar.navbar-inner
                    p.muted.credit.textCenter 2017 &copy; Destiny Checklist | 
                        a(href='http://www.reddit.com/message/compose/?to=dweezil22') Contact via reddit 
                        | | destinychecklistnet at gmail.com | 
                        a(href='/privacy') Privacy Policy 
                        | | Not affiliated with Bungie or Destiny
                        br

                        form.textCenter(style='text-align: center;height: 12px; vertical-align: top;', action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_blank', rel="noopener")
                            input(type='hidden', name='cmd', value='_s-xclick')
                            input(type='hidden', name='hosted_button_id', value='VBASBDZD7HAHS')
                            div(style='text-align: center;')
                                span(style='display: inline-block;')
                                    a(href='#', title='Donate to support the site!', target='_self', onclick="$(this).closest('form').submit()")
                                        i.fa.fa-paypal.icon-blocks.icon-blocks--paypal
                                    a(href='https://www.facebook.com/sharer/sharer.php?u=', title='Share on Facebook', target='_blank', rel="noopener")
                                        i.fa.fa-facebook-official.icon-blocks.icon-blocks--facebook
                                    a(href='https://twitter.com/share', title='Share on Twitter', data-count='none', data-url='http://www.destinychecklist.net', target='_blank', rel="noopener")
                                        i.fa.fa-twitter-square.icon-blocks.icon-blocks--twitter
            #fb-root

        script var PATH = '#{path}';
        if special == true
            script var GOOG_ANAL = '#{goog_anal}';
        else
            script var GOOG_ANAL = 'UA-21710078-3';

        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-sanitize.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.min.js')
        if (path == 'venn')
            script( src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js' )
        script(src='/js/combined.min.js?v=AoT6')
        