extends layout

block content
    div
        h1 
            span.hidden-xs Weekly Challenge of Elders Leaderboard
                small &ensp; <a href="/leaderFAQ"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
            span.visible-xs Weekly CoE Leaderboard
                small &ensp; <a href="/leaderFAQ"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
        include adhocmobile
        div
            if (data.archive && data.archive.length > 0)
                span.dropdown
                    button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                        | Previous weeks
                        span.caret
                    ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                        if (!data.archiveFile)
                            li.active
                                a(href='/leaderCoe') Current
                        else
                            li
                                a(href='/leaderCoe') Current
                        each entry in data.archive
                            if (entry.filename == data.archiveFile)
                                li.active
                                    a(href='/leaderCoe/#{entry.filename}') #{entry.label}
                            else
                                li
                                    a(href='/leaderCoe/#{entry.filename}') #{entry.label}
                span #{data.archiveLabel}
                
            table.table
                thead
                    tr
                        th Place
                        th Score
                        th Players
                tbody
                    each o, index in data.leaders
                        tr
                            th #{index + 1}
                            td<a href="/match/#{o.instanceId}">#{o.displayScore}</a>
                                | <br/><small class="text-muted">after #{o.scorePenalty} penalty</small>
                            td 
                                ul.list-unstyled
                                    each p in o.players
                                        li <a href="/tabs/#{p.platform}/#{p.name}">#{p.name}</a> 
                                            span.hidden-xs &emsp;#{p.pClass}</a>&emsp;#{p.displayScore}
            if data.leaders.length == 0
                h4
                    .alert.alert-info No leaders yet this week, check back later!
        script.
                function initMe() {
                    //nothing
                }