extends layout

block content
    div
        h1
            span.hidden-xs Normal Mode Wrath of the Machine Raid Leader Board
                small &ensp; <a href="/leaderFAQ"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
            span.visible-xs NM Wrath of the Machine Leader Board
                small &ensp; <a href="/leaderFAQ"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
        include adhocmobile
        if data.leaders.length > 0
            nav(aria-label='Page navigation')
                ul.pagination
                    if (data.paging.showFastRwd)
                        li
                            a(href='/leaderROI/1', aria-label='Previous')
                                span(aria-hidden='true') «
                    else
                        li.disabled
                            span
                                span(aria-hidden='true') «
                    - for (var page=data.paging.startPage; page<=data.paging.endPage; page++){
                        if (page==data.paging.page)
                            li.active
                                span #{page}
                        else
                            li
                                a(href='/leaderROI/#{page}') #{page}
                    - }
                    if (data.paging.showFastFwd)
                        li
                            a(href='/leaderROI/#{data.paging.finalPage}', aria-label='Next')
                                span(aria-hidden='true') »
                    else
                        li.disabled
                            span
                                span(aria-hidden='true') »


            table.table
                thead
                    tr
                        th.hidden-xs.col-sm-1.col-lg-1 Place
                        th.col-xs-4.col-sm-3.col-lg-2 Time
                        th.col-xs-8.col-sm-8.col-lg-9 Players (kills)
                tbody
                    - for (var index=data.paging.startIndex; index<data.paging.endIndex; index++){
                        - var o = data.leaders[index];
                        tr
                            th.hidden-xs #{index + 1}
                            td <a href="/match/#{o.instanceId}"><span class="writeDate" data-value="#{o.displayScore.valueOf()}"></span></a>
                            td
                                span
                                    each p, i in o.players
                                        | <a href="/tabs/#{p.platform}/#{p.name}">#{p.name}<span class="hidden-xs">&nbsp;(#{p.kills})</span></a>
                                        if i < (o.players.length - 1)
                                            | ,    
                    - } 
        if data.leaders.length == 0
            p.well.lead See the first fireteams to complete the raid. Coming Friday 9/23, when the raid drops!
            
        script.
                function initMe() {
                    $('.writeDate').each(function (index, elem) {
                        var $elem =$(elem) 
                        var val = $(elem).attr("data-value");
                        val = moment(parseInt(val));
                        $elem.html(val.format("lll"));
                    });
                }