extends layout

block content
    div
        h1 Weekly PVP Kills Leaderboard 
            small &ensp; <a href="/leaderFAQ"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
        include adhocmobile
        div 
            if (data.archive && data.archive.length>0)
                span.dropdown
                    button#dropdownMenu1.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                        | Previous weeks
                        span.caret
                    ul.dropdown-menu(aria-labelledby='dropdownMenu1')
                        if (!data.archiveFile)
                            li.active
                                a(href='/leaderPvp') Current
                        else
                            li
                                a(href='/leaderPvp') Current
                        each entry in data.archive
                            if (entry.filename == data.archiveFile)
                                li.active
                                    a(href='/leaderPvp/#{entry.filename}') #{entry.label}
                            else
                                li
                                    a(href='/leaderPvp/#{entry.filename}') #{entry.label}
                span #{data.archiveLabel}

        table.table
            thead
                tr
                    th Place
                    th Player
                    th Kills
                    th.hidden-xs Assists
                    th.hidden-xs Deaths
                    th.hidden-xs Score
                    th Mission
            tbody
                each o, index in data.leaders
                    tr
                        th #{index+1}
                        td <a href="/tabs/#{o.platform}/#{o.name}">#{o.name}</a><br/>#{o.pClass}
                        td #{o.data.kills}
                        td.hidden-xs #{o.data.assists}
                        td.hidden-xs #{o.data.deaths}
                        td.hidden-xs #{o.data.displayScore}
                        td <a href="/pvpmatch/#{o.data.hash}">#{o.data.type}<span class="hidden-xs"><br/>Level #{o.data.name}</span></a>
        if data.leaders.length == 0
            h4 
                .alert.alert-info No leaders yet this week, check back later!
        script.
                function initMe() {
                    //nothing
                }