extends layout

block content
    div
        h1 Leaderboard FAQ
        div
            #accordion.panel-group
                .panel.panel-default
                    .panel-heading
                        h4.panel-title
                            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapse1') How do I get listed on the leaderboards?
                    #collapse1.panel-collapse.collapse.in
                        .panel-body
                            | All games from the current week that are reported on the main player reporting page ("/tabs/*") are entered towards the leaderboard.
                            | So just use the site for your gamertag (or someone else's) and they will show up if they're in the top 50 for a given board.
                            | <b><mark>If you want to double check your gamertag click <a href="/checkRaidLeader">here</a>.</mark></b>
                .panel.panel-default
                    .panel-heading
                        h4.panel-title
                            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapse1a') What's with this new AoT 390 Raid leaderboard?
                    #collapse1a.panel-collapse.collapse
                        .panel-body
                            | This is basically the same thing I did for King's Fall NM and HM and Wrath of the Machine later. I'll show the first 1000 fireteams to finish the raid. As more games are reported on, 
                            | some teams will get bumped out by other teams that finished first but weren't yet reported on.
                .panel.panel-default
                    .panel-heading
                        h4.panel-title
                            a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapse1b') What types of PVP matches are included?
                    #collapse1b.panel-collapse.collapse
                        .panel-body
                            | All PVP matches are included EXCEPT un-timed events like Trials of Osiris and Elimination. It's relatively rare to see
                            | legit kill counts in the top 50 from those game modes and they could be exploited to easily get very high kill counts by a cooperative opponent.
                            | (Thanks to the folks at <a href="https://destinytrialsreport.com" target="_blank">Destiny Trials Report</a> for the heads up about this)

                .panel.panel-default
                    .panel-heading
                        h4.panel-title
                            a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapse2') Bungie released a leaderboard and it doesn't match this one, what's going on?
                    #collapse2.panel-collapse.collapse
                        .panel-body
                            | This site simply doesn't have the resources to dump every single bit of game data and sift through it the way Bungie can. Only games from the current week that are already 
                            | filtering through the site are listed. It's possible, likely even, that some top scores won't get reviewed during the week. When in doubt, Bungie's leaderboard is correct.
                .panel.panel-default
                    .panel-heading
                        h4.panel-title
                            a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapse3') I have a better score that should qualify for a previous week's PVP leaderboard but it's not showing. What's going on?
                    #collapse3.panel-collapse.collapse
                        .panel-body
                            | For PVP, just after the weekly reset, the site archives a read-only copy of the past week's leaderboard and resets everything. Unfortunately there's no way to go back and add you.
                
        include adhocmobile
        script.
                function initMe() {
                    //nothing
                }