extends layout

block content
    if (platform == 0)
        - var tag = "clan"
        h3 Search for Clan
        form
            .form-group
                .input-group
                    .input-group-btn
                        input(id=tag + 'Platform', type='checkbox', data-toggle='toggle', data-on='PSN', data-off='XBL',
                        data-onstyle="success", data-offstyle="info")
                    input.form-control(id=tag + 'Name',name='name', type='text', placeholder='Gamertag', required='')
                    span.input-group-btn
                        button(id=tag + "ViewBtn",type='submit').btn.btn-primary
                            i.fa.fa-search
                p.help-block Select a platform and enter a player name to search above
        script.
            function initMe() {
                tagSetupSearch("#{tag}");
            }
    else
        div(ng-app="listApp",ng-controller="mainController")
            toaster-container
            .table-responsive
                table.table
                    thead                    
                        tr
                            th.col-md-1 Char
                                span(ng-show="vm.loading>0")
                                    |  <i class="fa fa-refresh fa-spin"></i> 
                            th.col-md-1 CE 390
                            th.col-md-1 VoG 390
                            th.col-md-1 KF 390
                            th.col-md-1 WotM 390
                            th.col-md-1 NF
                            th.col-md-1 Wk
                            th.col-md-1 Story
                            th.col-md-1 PvP Wk
                    tbody
                        tr(ng-repeat-start="p in vm.players")
                            th(colspan='10')
                                a(ng-href="/tabs/{{p.platform}}/{{p.encodedName}}")
                                    b {{p.name}}
                                small  {{p.data.player.lastPlayed}} 
                                a(href, ng-hide="p.data.chars.length>0 || p.loading", ng-click="vm.loadPlayer(p)", title="Force load now")
                                    i.fa.fa-download
                                small
                                    | 
                                    a(href, ng-hide="p.loading || p.data.chars.length==0", ng-click="vm.loadPlayer(p, true)", title="Force refresh")
                                        i.fa.fa-refresh
                                    span(ng-show="p.loading==true")
                                        |  <i class="fa fa-refresh fa-spin"></i> 
                                span(ng-if="p.platform==1")
                                    |  
                                    a(ng-href='https://account.xbox.com/Messages?gamerTag={{p.encodedName}}', target='_blank', title="Msg on Xbox Live", rel="noopener") 
                                        i.fa.fa-envelope-o



                        tr(ng-repeat="c in p.data.chars")
                            td {{c.class}}&nbsp<small class="hidden-xs">{{c.power}}</small>
                            td(ng-class="!c.publicAdv?'active':c.publicAdv.ce.threeninety.dispClass")
                                span(ng-repeat="step in c.publicAdv.ce.threeninety.steps")
                                    i.fa.fa-check(ng-if="step.isComplete")
                                    i.fa.fa-times(ng-if="!step.isComplete")
                            td(ng-class="!c.publicAdv?'active':c.publicAdv.vog.threeninety.dispClass")
                                span(ng-repeat="step in c.publicAdv.vog.threeninety.steps")
                                    i.fa.fa-check(ng-if="step.isComplete")
                                    i.fa.fa-times(ng-if="!step.isComplete")
                            td(ng-class="!c.publicAdv?'active':c.publicAdv.kf.threeninety.dispClass")
                                span(ng-repeat="step in c.publicAdv.kf.threeninety.steps")
                                    i.fa.fa-check(ng-if="step.isComplete")
                                    i.fa.fa-times(ng-if="!step.isComplete")
                            td(ng-class="!c.publicAdv?'active':c.publicAdv.wrath.threeninety.dispClass")
                                span(ng-repeat="step in c.publicAdv.wrath.threeninety.steps")
                                    i.fa.fa-check(ng-if="step.isComplete")
                                    i.fa.fa-times(ng-if="!step.isComplete")
                            td(ng-class="!c.publicAdv?'active':c.publicAdv.nightfall?'success':'danger'")
                                i.fa.fa-check(ng-if="c.publicAdv.nightfall")
                                i.fa.fa-times(ng-if="!c.publicAdv.nightfall")
                            td(ng-class="!c.publicAdv?'active':c.publicAdv.weeklyHeroic?'success':'danger'")
                                i.fa.fa-check(ng-if="c.publicAdv.weeklyHeroic")
                                i.fa.fa-times(ng-if="!c.publicAdv.weeklyHeroic") 
                            td(ng-class="!c.publicAdv?'active':c.publicAdv.weeklyStory.full||c.publicAdv.weeklyStory.partial?'success':'danger'")
                                i.fa.fa-check(ng-if="c.publicAdv.weeklyStory.full||c.publicAdv.weeklyStory.partial")
                                i.fa.fa-times(ng-if="!(c.publicAdv.weeklyStory.full||c.publicAdv.weeklyStory.partial)")
                            td(ng-class="!c.publicAdv?'active':c.publicAdv.weeklyCrucible?'success':'danger'")
                                i.fa.fa-check(ng-if="c.publicAdv.weeklyCrucible")
                                i.fa.fa-times(ng-if="!c.publicAdv.weeklyCrucible")
                        tr(ng-repeat-end, ng-hide="true")
            if clanName
                h4 Notes
                ul
                    li
                        | In the event you have clan-members spanning platforms, this only shows members for your selected platform
                    li
                        | Your clan members need to have their privacy settings setup correctly to show up in Bungie's clan API. Apparently this can sometimes be tricky. Bungie has a discussion 
                        a(href='https://www.bungie.net/en/Help/Article/12206') here
                        | . If you continue to have missing members, please contact me and we'll see if we can make it work.
            | <script>
            | var PLATFORM = #{platform};
            | var LOAD_ME = [];
            each c in names
                |   LOAD_ME.push('#{c}');
            | </script>
            script.
                function initMe() {
                    //CLAN_JS().initMe();
                }
    include adhocmobile