extends layout

block content

    div
        h1 #{data.name} Lvl #{data.level}  
            if data.hmRaid
                span - Hard Mode
        p #{data.end} | Completed: #{data.complete} | Duration: #{data.duration}
        if data.hasScore
            h4
                span.label.label-success Team Score: #{data.teamScore.toLocaleString()}
                if data.scorePenalty
                    |&nbsp;
                    span.label.label-danger Penalty - #{data.scorePenalty.toLocaleString()}
        div
            table.table.table-hover
                tr
                    th Player
                    if data.hasScore
                        th Score
                    th
                        span.hidden-xs Kill
                        span.visible-xs K
                    th
                        span.hidden-xs Death
                        span.visible-xs D
                    th
                        span.hidden-xs Assist
                        span.visible-xs A
                each p in data.players
                    tr(data-toggle="collapse",data-target="##{p.memberId}",class="accordion-toggle",style="cursor: zoom-in")
                        td <a href="/tabs/#{p.platform}/#{encodeURIComponent(p.name)}">#{p.name}</a><br/>#{p.class}
                        if data.hasScore
                            td #{p.score.toLocaleString()}
                        td #{p.kills}
                        td #{p.deaths}
                        td #{p.assists}
                    tr.hidRow(id="row#{p.memberId}",style="display:none")
                        td.hiddenRow(colspan='4')
                            .accordian-body.collapse(id="#{p.memberId}")

                                table.table.table-condensed
                                    tr.info
                                        th Revives
                                        th Revived
                                        th Time spent
                                        th Completed?
                                    tr.info
                                        td #{p.revives}
                                        td #{p.revived}
                                        td #{p.duration}
                                        td #{p.completeMsg}
                                table.table.table-condensed
                                    tr.info
                                        th Gun
                                        th Type
                                        th Kills
                                        th Precision
                                    each w in p.weapons
                                        tr.info
                                            td #{w.name} 
                                            td #{w.type}
                                            td #{w.killCount}
                                            td #{Math.floor(w.prec * 100)}%
        include adhocmobile
        script.
                function initMe() {
                    $('.collapse').on('show.bs.collapse', function (options) {
                        //hide all the others
                        //$('.collapse.in').collapse('hide');
                        var parRowId = "row" + options.target.id;
                        $("#" + parRowId).show();
                    });
                    $('.collapse').on('hide.bs.collapse', function (options) {
                        var parRowId = "row" + options.target.id;
                        $("#" + parRowId).hide();
                    });
                }