h4 News
.list-group
    li.list-group-item Destiny 2 came out in September 2017, and when people say "Destiny" they're usually talking about D2 at this point. If that's what you're looking for, then head over to
        mark <a href="https://d2checklist.com">D2Checklist.com</a>
    li.list-group-item
        span This site has run stably for years and will continue be maintained in a limited fashion for the&ensp;
            a(href='https://www.youtube.com/watch?v=lKie-vgUGdI', target='_blank', rel="noopener") dozens
        span &ensp;of Destiny 1 folks out there. Enjoy!