extends layout

block content
    div
        table.table.table-condensed.table-striped
            thead
                tr
                    th Rd
                    th 1
                    th 2
                    th 3
                    th 4
                    th 5
                    th 6
                    th 7
                    th 8
                    th 9
            tbody#rounds
                tr
                    td 1
                    td <button type="button" class="btn btn-default btn-sm oracleMid">Mid</button> 
                    td <button type="button" class="btn btn-default btn-sm oracleR2">R2</button>
                    td <button type="button" class="btn btn-default btn-sm oracleR1">R1</button>
                    td <button type="button" class="btn btn-default btn-sm oracleL2">L2</button>
                    td <button type="button" class="btn btn-default btn-sm oracleL1">L1</button>
                    td <button type="button" class="btn btn-default btn-sm oracleL3">L3</button>
                    td <button type="button" class="btn btn-default btn-sm oracleR1">R1</button>
                    td <button type="button" class="btn btn-default btn-sm oracleR2">R2</button>
                    td <button type="button" class="btn btn-default btn-sm oracleR3">R3</button>
                tr
                    td 2
                    td <button type="button" class="btn btn-default btn-sm oracleL1">L1</button>
                    td <button type="button" class="btn btn-default btn-sm oracleR3">R3</button>
                    td <button type="button" class="btn btn-default btn-sm oracleR1">R1</button>
                    td <button type="button" class="btn btn-default btn-sm oracleL3">L3</button>
                    td <button type="button" class="btn btn-default btn-sm oracleMid">Mid</button>
                    td <button type="button" class="btn btn-default btn-sm oracleL2">L2</button>
                    td <button type="button" class="btn btn-default btn-sm oracleR2">R2</button>
                    td
                    td
                tr
                    td 3
                    td <button type="button" class="btn btn-default btn-sm oracleR1">R1</button>
                    td <button type="button" class="btn btn-default btn-sm oracleL1">L1</button>
                    td <button type="button" class="btn btn-default btn-sm oracleR2">R2</button>
                    td <button type="button" class="btn btn-default btn-sm oracleL2">L2</button>
                    td <button type="button" class="btn btn-default btn-sm oracleMid">Mid</button> 
                    td <button type="button" class="btn btn-default btn-sm oracleL3">L3</button>
                    td <button type="button" class="btn btn-default btn-sm oracleR3">R3</button>
                    td
                    td
                tr
                    td 4
                    td <button type="button" class="btn btn-default btn-sm oracleR3">R3</button>
                    td <button type="button" class="btn btn-default btn-sm oracleL2">L2</button>
                    td <button type="button" class="btn btn-default btn-sm oracleR2">R2</button>
                    td <button type="button" class="btn btn-default btn-sm oracleL3">L3</button>
                    td <button type="button" class="btn btn-default btn-sm oracleR1">R1</button>
                    td <button type="button" class="btn btn-default btn-sm oracleL1">L1</button>
                    td <button type="button" class="btn btn-default btn-sm oracleMid">Mid</button>
                    td <button type="button" class="btn btn-default btn-sm oracleR3">R3</button>
                    td <button type="button" class="btn btn-default btn-sm oracleL2">L2</button>
                tr
                    td(colspan='8')
                        button#nextBtn.btn.btn-primary(style='width: 100%') Next Round
                    td(colspan='2')
                        button#prevBtn.btn.btn-default(style='width: 100%') Prev
        div.hidden
            audio#oraclePlayer1
                source(src="/oracle/1.mp3")
            audio#oraclePlayer2
                source(src="/oracle/2.mp3")
            audio#oraclePlayer3
                source(src="/oracle/3.mp3")
            audio#oraclePlayer4
                source(src="/oracle/4.mp3")
            audio#oraclePlayer5
                source(src="/oracle/5.mp3")
            audio#oraclePlayer6
                source(src="/oracle/6.mp3")
            audio#oraclePlayer7
                source(src="/oracle/7.mp3")
        img(name='Oracle Spawns', src='/img/spawn.png', alt='Oracle Spawn Points', border='1px solid', height='400', width='300')
        p Notes
        ul
            li
                | In addition to the Next/Prev buttons, you can use space/enter/down/right to move forward in rounds and up/left to move back in rounds.
            li
                | Credit for the table goes to 3nippledman for this&nbsp;
                a(href='https://www.reddit.com/r/DestinyTheGame/comments/62wxmt/updated_oracle_spawn_order/') reddit thread
            li
                | This exists because I wanted something handy that I could find quickly and would reformat nicely for mobile
    script.
        function initMe() {
            ORACLE_JS().initMe();
        }