extends layout

block content
    div
        h1 #{data.type}: #{data.name}  
        p #{data.end} | Completed: #{data.complete} | Duration: #{data.duration} | Click player rows to expand details
        if data.compReason==3
            p <span class="label label-danger"><i class="fa fa-power-off"></i></span>&nbsp; This match ended with one team leaving to orbit. This happens now and then to everyone, but if a team is consistently winning with this completion code, it may be an indication of network manipulation. If you suspect someone is cheating, use the in-game reporting mechanism to report them. <a href="https://www.reddit.com/r/DestinyTheGame/comments/3ouvyb/lets_talk_about_witchhunting_again/" target="_blank" rel="noopener">Do not witch-hunt</a>.
        div
            each t in data.teams
                if t.score!=0
                    h3 #{t.name} #{t.score} #{t.result}

                table.table.table-hover
                    tr
                        th Player
                        th.hidden-xs Score
                        th
                            span.hidden-xs Kill
                            span.visible-xs K
                        th
                            span.hidden-xs Death
                            span.visible-xs D
                        th
                            span.hidden-xs Assist
                            span.visible-xs A
                        th KDR
                    each p in t.players
                        tr(data-toggle="collapse",data-target="##{p.memberId}",class="accordion-toggle",style="cursor: zoom-in")
                            td
                                if p.fireTeam
                                    span.label.label-info Fireteam #{p.fireTeam}
                                    br
                                | <a href="/tabs/#{p.platform}/#{encodeURIComponent(p.name)}">
                                | #{p.name}</a> #{p.class}
                            td.hidden-xs #{p.score.toLocaleString()}
                            td #{p.kills}
                            td #{p.deaths}
                            td #{p.assists}
                            td #{p.kdr}
                        tr.hidRow(id="row#{p.memberId}",style="display:none")
                            td.hiddenRow(colspan='5')
                                .accordian-body.collapse(id="#{p.memberId}")

                                    table.table.table-condensed
                                        tr.info
                                            th Revives
                                            th Revived
                                            th Time spent
                                            th Completed?
                                        tr.info
                                            td #{p.revives}
                                            td #{p.revived}
                                            td #{p.duration}
                                            td #{p.completeMsg}
                                    table.table.table-condensed
                                        tr.info
                                            th Gun
                                            th Type
                                            th Kills
                                            th Precision
                                        each w in p.weapons
                                            tr.info
                                                td #{w.name} 
                                                td #{w.type}
                                                td #{w.killCount}
                                                td #{Math.floor(w.prec * 100)}%
        include adhocmobile
        script.
            function initMe() {
                $('.collapse').on('show.bs.collapse', function (options) {
                    //hide all the others
                    //$('.collapse.in').collapse('hide');
                    var parRowId = "row" + options.target.id;
                    $("#" + parRowId).show();
                });
                $('.collapse').on('hide.bs.collapse', function (options) {
                    var parRowId = "row" + options.target.id;
                    $("#" + parRowId).hide();
                });

            }