extends layout

block content
    h1 Optimizing Your Light Level in the Age of Triumph
    
    table.table
        thead
            tr
                th Light Range
                th Activities
        tbody
            tr
                td 390-400
                td 
                    ul 
                        li Exotic Engrams
                        li Raid (390)
                        li Archon's Forge (Ghost/Artifacts/Class)
                        li Skeleton Keys
                        li NightFall
                        li Crucible drops
                        li Shaxx Weekly Bounty
                        li Trials (5-7 win drops) / Iron Banner
                        li Faction Packages (Vanguard, Crucible, Faction, Eris Morn, Gunsith, Queen's Wrath)
                        li Trials Gold Bounty
                        li Archon's Forge (all legendary drops)
            tr
                td 385-390
                td 
                    ul 
                        li Everything Above
                        li Heroic Siva Strikes
                        li Legendary Engrams
            tr
                td 0-385
                td 
                    ul
                        li Everything Above
                        li Vendor Gear (380)
                        li Siva Strike Playlist
                        li Rare Engrams
    p 
        | In Age of Triumph it's quite easy to get a lot of Legendary Marks pretty quickly, so buying a Vendor item for your lowest
        | light items is always a good idea. Once you're at 380 there are tons of options for getting all the way to 400. 
        | Skeleton key chests can have predictable armor drops, so they're a great way to make sure your weakest item is ranked up quickly. 
        | Always make sure you're at max light when you recieve drops or turn in rewards!
    p 
        | I've been having trouble finding people under 380 light to test the min drops for some of these items. If you find anything is wrong in the 
        | table above, please let me know!
    
                        
    
    
    //h3 &gt; 350 and 365
    //ul 
    //    li Up to 365, you can run 320 strikes <i>from the Director</i> (i.e. not strike playlists). Sepiks Perfected (Earth Strike on hard mode) is great for this. Just make sure your LL is maxed after you kill Sepiks before you pick up his engrams. He should drop at least 2 higher light engrams per strike up to 365.
    //    li Exotic engrams have the highest light cap of everything in the game, so save your exotics until you're at least 365, probably higher.
    //    li Once you're 365 (or even 360) you can try out the raid. 
    //    li Skeleton keys from 350 strikes also offer good smart-loot options to keep raising lights. 
    //    li Faction rewards also scale above 365, so keep ranking those up. You can buy heavy ammo from 250 glimmer and one ether seed from Variks and turn it in for Faction rep as well.
    //h3 Most important
    //ul
    //    li <mark>Be max light when decrypting and getting drops whenever possible. Climb the ladder.</mark>
    //    li Remember that guns, ghosts and some artifacts can be shared across characters. Alt #2 can get a huge boost from your primary's gear. May want to focus on Primary char for now though, easy to catch an alt up later with infusions.
    //    il Resist the urge to hoard <341  LL gear as infusion fuel. It'll be easy to come by going forward, infuse and dismantle it liberally.
    //h3 Engrams
    //ul
    //    li Blue engrams can decrypt above your light-level up to a 340 LL cap, except...
    //    li A blue can randomly decrypts to a Legendary at which point the 340 cap doesn't apply, so keep your LL up when decrypting.
    //    li Legendary engrams decrypt at or a few points above LL up to 350. Then things slow down considerably and are at or only 1 above LL.
    //    li Exotic engrams seem to follow the same rules as Legendaries, it's not clear that they're particularly more valuable light wise
    //h3 Vendors
    //ul
    //    li All vendor gear is 350LL. This can offer a big boost early on. Focus on your lowest light gear and remember
    //    li If you have the marks, use vendors to patch holes. All else equal, buy a 350 class item from Shiro for a legendary Class Engram and some glimmer. Then buy a Ghost from your vendor of choice with Marks. That'll immediately bump 2 slots up to  350, one of which is shareable.
    //    li Once you're at 350, vendor gear is only useful for it's innate stats and perks. <a href="https://www.reddit.com/r/DestinyTheGame/comments/53rzlf/massive_breakdown_of_recommended_rise_of_iron/" target="_blank">Here's Mercules904's breakdown.</a>
    //h3 After 340
    //p  After 340 you can still light up from pretty much everything other than blue engrams and green gear. Should grind itself out just playing however you want (finishing the story and some of the quests is a good way).
    //h3 After 350
    //p Things slow down a lot. To rank up quickly you'll want to do the higher light activities, perhaps with a fireteam. Full info about these are still shaking out, but they seem to include: 
    //ul
    //    li Archon's Forge
    //    li Heroic and Nightfall strikes
    //    li Shaxx's  Hunt For Glory bounty
    //    li The Raid (coming 9/23)
    //small This list is a work in progress. Please message me on Reddit with any corrections or additions you might have!
    
    script.
        function initMe() {
            //nothing
        }