extends layout

block content
    .jumbotron
        h2 About
        p
            | This is a site I've spun off from <a href="https://www.destinychecklist.net">DestinyChecklist.net</a> to give people a shorter URL for specialized functionality.
            | See the main <a href="https://www.destinychecklist.net/about">DestinyChecklist.net About page</a> for a lot more info.
        form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
            input(type='hidden', name='cmd', value='_s-xclick')
            input(type='hidden', name='hosted_button_id', value='VBASBDZD7HAHS')
            p If you'd like to donate to help support the site you can using  
                a(href='#', title='Donate to support the site!', target='_self', onclick="$(this).closest('form').submit()")
                    i.fa.fa-paypal.paypal
                    | aypal
                |  or buy something you were already planning to get via the Amazon link below. 
        .row
            .textCenter
                script(type='text/javascript').
                    amzn_assoc_ad_type = 'banner';
                    amzn_assoc_tracking_id = 'destinychecklist-20';
                    amzn_assoc_marketplace = 'amazon';
                    amzn_assoc_region = 'US';
                    amzn_assoc_placement = 'assoc_banner_placement_default';
                    amzn_assoc_linkid = 'WF77VQC7R735WR2Y';
                    amzn_assoc_campaigns = 'videogames';
                    amzn_assoc_p = '20';
                    amzn_assoc_banner_type = 'category';
                    amzn_assoc_isresponsive = 'false';
                    amzn_assoc_banner_id = '1G3GV8H6WKRG674Y29R2';
                    amzn_assoc_width = '120';
                    amzn_assoc_height = '90';
                script(src='//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1')



    script.
        function initMe() {
            //nothing
        }