extends layout

block content
    h1 Destiny SRL Progress Calculator
    p.lead Bungie has announced with Rise of Iron that Sparrow Race League will be back in a few months! Check here for a calculator to help you figure out how to get to Rank 5 and obtain the highest tier drops as quickly as possible.
    include adhocmobile
    script.       
        function initMe() {
        }