extends layout

block content
    div
        h1 #{data.type}: #{data.name}  
        p #{data.end} | Completed: #{data.complete} | Duration: #{data.duration}
    div
        table.table.table-hover
            thead
                tr
                    th Player
                    th Gates
                    th Deaths
                    th Time
            tbody
                each p in data.players
                    tr
                        td #{p.place}: <a href="/srl/#{p.platform}/#{encodeURIComponent(p.name)}">#{p.name}</a> #{p.class}</a>
                        td #{p.gatesHit}
                        td #{p.deaths}
                        td #{p.timePretty}
    include adhocmobile
    script.
            function initMe() {
                $('.collapse').on('show.bs.collapse', function (options) {
                    //hide all the others
                    //$('.collapse.in').collapse('hide');
                    var parRowId = "row" + options.target.id;
                    $("#" + parRowId).show();
                });
                $('.collapse').on('hide.bs.collapse', function (options) {
                    var parRowId = "row" + options.target.id;
                    $("#" + parRowId).hide();
                });

            }