extends layout

block content
    div(ng-app="tabsApp",ng-controller="mainController")
        toaster-container
        h1

            a(ng-cloak, ng-show="vm.player.supporter===true", href='/about#supporters', title='Supporter')
                span.glyphicon.glyphicon-star(style='color: gold')
            | #{data.player.name}&nbsp;
            span
                if data.player.platform == 1
                    a.btn.btn-info(role='button', href='https://account.xbox.com/Messages?gamerTag=#{encodeURIComponent(data.player.name)}', target='_blank', rel="noopener", title="Message on Xbox Live")
                        i.fa.fa-envelope-o
                    | 
                
                a.btn.btn-info(role='button', href='/venn/#{data.player.platform}/#{encodeURIComponent(data.player.name)}', title="Shared Quests and Bounties") <i class="fa fa-heart-o"></i>
                | 
                a.btn.btn-info(role='button', href='/ib/#{data.player.platform}/#{encodeURIComponent(data.player.name)}', title="View Iron Banner") <i class="fa fa-flag" aria-hidden="true"></i>
                | 
                a.btn.btn-info(role='button', href='/grim/#{data.player.platform}/#{encodeURIComponent(data.player.name)}', title="Grimoire") <i class="fa fa-book"></i>
                | 
                a.btn.btn-info(role='button', href='/cf/#{data.player.platform}/#{encodeURIComponent(data.player.name)}', title="Calcified Fragments") <i class="fa fa-diamond"></i>
                | 
                a.btn.btn-info(role='button', target="_blank", rel="noopener", ng-href='{{vm.buildTrialsUrl()}}', title="View TrialsReport") <i class="fa fa-eye" aria-hidden="true"></i>
                | 
                a.btn.btn-info(role='button', href='?nocache=true', title="Force refresh from Bungie")
                    span.glyphicon.glyphicon-refresh
        if data.msg
            span.label.label-danger #{data.msg}
        .progress(ng-show="vm.loading.active")
            .progress-bar.progress-bar(role='progressbar', ng-style="{'min-width': '2em', 'width' : vm.loading.pct}")
                | {{vm.loading.pct}}

        div(ng-cloak)
            div(ng-show="vm.warningMsg")
                .alert.alert-warning
                    span.glyphicon.glyphicon-exclamation-sign
                    span {{vm.warningMsg}}
            div(ng-show="vm.errorMsg")
                .alert.alert-danger
                    span.glyphicon.glyphicon-exclamation-sign
                    span {{vm.errorMsg}}
        //if data.clanName
        //    div
        //        a(href='/clan/#{data.player.platform}/#{encodeURIComponent(data.clanName)}') Clan: #{data.clanName}
        div
            span.label.label-primary.label-as-badge(ng-cloak) Played {{vm.player.lastPlayed}}
            | &nbsp;
            span.label.label-primary.label-as-badge(ng-cloak) {{vm.player.minsPlayed | number:0}} hours total
            | &nbsp;
            a.label.label-primary.label-as-badge(ng-cloak, href="/grim/#{data.player.platform}/#{encodeURIComponent(data.player.name)}",
            title="Click to see details") Grimoire {{vm.player.grimoire|number:0}}
            br
            span#mobileAlerts
        br
        div
            // Nav tabs
            ul.nav.nav-tabs.nav-condensed.globalNav(role='tablist')
                li.active
                    a(href='#checklist', role='tab', data-toggle='tab') <i class="fa fa-check-square-o"></i>
                        span.hidden-xs.hidden-sm.hidden-md  Checklist
                li
                    a(href='#weapons', role='tab', data-toggle='tab') <i class="fa fa-gavel"></i>
                        span.hidden-xs.hidden-sm.hidden-md  Weapons
                li
                    a(href='#armor', role='tab', data-toggle='tab') <i class="fa fa-shield"></i>
                        span.hidden-xs.hidden-sm.hidden-md  Armor
                li
                    a(href='#stats', role='tab', data-toggle='tab') <i class="fa fa-calculator"></i>
                        span.hidden-xs.hidden-sm.hidden-md  Stats
                li
                    a(href='#progress', role='tab', data-toggle='tab') <i class="fa fa-line-chart"></i>
                        span.hidden-xs.hidden-sm.hidden-md  Progress
                li
                    a(href='#PVEhistory', role='tab', data-toggle='tab') <i class="fa fa-history"></i>
                        span.hidden-xs.hidden-sm  PVE
                li
                    a(href='#PVPhistory', role='tab', data-toggle='tab') <i class="fa fa-university"></i>
                        span.hidden-xs.hidden-sm  PVP
                li
                    a(href='#bounties', role='tab', data-toggle='tab') <i class="fa fa-exclamation"></i>
                        span.hidden-xs.hidden-sm  Bounties/Quests
            // Tab panes
            .tab-content
                #checklist.tab-pane.active
                    //ul(data-as-sortable='', data-ng-model='vm.checklistRows')
                    //    li(ng-repeat='row in vm.checklistRows', data-as-sortable-item='')
                    //        div(data-as-sortable-item-handle='') index: {{$index}} | {{row}}

                    table.table.table-condensed(ng-cloak)
                        thead
                            tr
                                th.col-md-3 Activity <a class="f2 pull-right" id="showRows" title="Restore defaults" href ng-show="vm.customRows" ng-click="vm.clearRowSettings()"><i class="fa fa-undo" aria-hidden="true"></i></a>
                                th.col-md-3(ng-repeat="c in vm.chars")
                                    | {{c.class}} {{c.power}} {{c.race.substr(0, 2)}} {{c.gender.substr(0,1)}}
                        tbody#dragContainer(data-as-sortable='ngSortSettings', data-ng-model='vm.checklistRows')
                            tr(ng-repeat="r in vm.checklistRows" data-as-sortable-item='')
                                td(ng-if="r==='closeFaction'" data-as-sortable-item-handle)
                                    span Closest Factions
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='closeFaction'" ng-repeat="c in vm.chars" ng-class="!c.progression?'active':'info'")
                                    div(ng-repeat="p in c.progression.close") {{p.name}} {{p.progress.pct}}% 
                                        a(ng-href='{{vm.buildRepURL(c.id, p.progress.progressionHash)}}', rel="noopener", target='_blank')
                                            i.fa.fa-link(aria-hidden='true')
                                td(ng-if="r==='ce390'" data-as-sortable-item-handle)
                                    span.hidden-xs Crota's End 390
                                    span.visible-xs CE 390
                                    | 
                                    if advisors && advisors.public && advisors.public.raidChallengeHash&& advisors.public.raidChallengeHash===4000873610
                                        i.fa.fa-star-o(title="Weekly featured raid")
                                    
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='ce390'" ng-repeat="c in vm.chars", ng-class="!c.publicAdv?'active':c.publicAdv.ce.threeninety.dispClass")
                                    span(ng-repeat="step in c.publicAdv.ce.threeninety.steps")
                                        i.fa.fa-check(ng-if="step.isComplete")
                                        i.fa.fa-times(ng-if="!step.isComplete")
                                    | 
                                    b(ng-show="c.lifetime.ce390>0") ({{c.lifetime.ce390}})
                                td(ng-if="r==='vog390'" data-as-sortable-item-handle)
                                    span.hidden-xs Vault of Glass 390
                                    span.visible-xs VoG 390
                                    | 
                                    if advisors && advisors.public && advisors.public.raidChallengeHash && advisors.public.raidChallengeHash === 856898338
                                        i.fa.fa-star-o(title="Weekly featured raid")

                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='vog390'" ng-repeat="c in vm.chars", ng-class="!c.publicAdv?'active':c.publicAdv.vog.threeninety.dispClass")
                                    span(ng-repeat="step in c.publicAdv.vog.threeninety.steps")
                                        i.fa.fa-check(ng-if="step.isComplete")
                                        i.fa.fa-times(ng-if="!step.isComplete")
                                    | 
                                    b(ng-show="c.lifetime.vog390>0") ({{c.lifetime.vog390}})

                                td(ng-if="r==='kf390'" data-as-sortable-item-handle)
                                    span.hidden-xs King's Fall 390
                                    span.visible-xs KF 390
                                    | 
                                    if advisors && advisors.public && advisors.public.raidChallengeHash && advisors.public.raidChallengeHash === 3978884648
                                        i.fa.fa-star-o(title="Weekly featured raid")

                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='kf390'" ng-repeat="c in vm.chars", ng-class="!c.publicAdv?'active':c.publicAdv.kf.threeninety.dispClass")
                                    span(ng-repeat="step in c.publicAdv.kf.threeninety.steps")
                                        i.fa.fa-check(ng-if="step.isComplete")
                                        i.fa.fa-times(ng-if="!step.isComplete")
                                    | 
                                    b(ng-show="c.lifetime.kf390>0") ({{c.lifetime.kf390}})

                                td(ng-if="r==='wrath390'" data-as-sortable-item-handle)
                                    span.hidden-xs Wrath of the Machine 390
                                    span.visible-xs Wrath 390
                                    | 
                                    if advisors && advisors.public && advisors.public.raidChallengeHash && advisors.public.raidChallengeHash === 3356249023
                                        i.fa.fa-star-o(title="Weekly featured raid")

                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='wrath390'" ng-repeat="c in vm.chars", ng-class="!c.publicAdv?'active':c.publicAdv.wrath.threeninety.dispClass")
                                    span(ng-repeat="step in c.publicAdv.wrath.threeninety.steps")
                                        i.fa.fa-check(ng-if="step.isComplete")
                                        i.fa.fa-times(ng-if="!step.isComplete")
                                    | 
                                    b(ng-show="c.lifetime.wrath390>0") ({{c.lifetime.wrath390}})

                                td(ng-if="r==='weeklyStory'" data-as-sortable-item-handle)
                                    span Weekly Story
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='weeklyStory'" ng-repeat="c in vm.chars", ng-class="!c.publicAdv?'active':c.publicAdv.weeklyStory.full?'success':c.publicAdv.weeklyStory.partial?'warning':'danger'")
                                    i.fa.fa-check(ng-if="c.publicAdv.weeklyStory.partial")
                                    i.fa.fa-times(ng-if="!c.publicAdv.weeklyStory.partial")

                                td(ng-if="r==='publicEvent'" data-as-sortable-item-handle)
                                    a(href="http://www.destinypublicevents.com/" rel="noopener" target="_blank")
                                        span.hidden-xs Daily Public Event
                                        span.visible-xs Pub Evt
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='publicEvent'" ng-repeat="c in vm.chars" ng-class="!c.progression?'active':c.progression.vanguard.progress.dailyProgress>=50?'success':'danger'")
                                    span(ng-if="c.progression.vanguard.progress.dailyProgress>=50")
                                        i.fa.fa-question(aria-hidden='true')
                                        span.hidden-xs
                                            |  Possibly Finished
                                    span(ng-if="c.progression.vanguard.progress.dailyProgress<50")
                                        i.fa.fa-remove(aria-hidden='true')
                                        span.hidden-xs
                                            |  Not Finished
                                td(ng-if="r==='shiro'" data-as-sortable-item-handle)
                                    span.hidden-xs Shiro Weekly
                                    span.visible-xs Shiro
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='shiro'" ng-repeat="c in vm.chars" ng-class="!c.progression?'active':c.publicAdv.shiro==0 && c.progression.vanguard.progress.weeklyProgress>=2000?'success':c.progression.vanguard.progress.weeklyProgress>=500?'warning':'danger'")
                                    span(ng-if="!c.publicAdv.shiro && c.progression.vanguard.progress.weeklyProgress>=2000")
                                        i.fa.fa-question(aria-hidden='true')
                                        span.hidden-xs
                                            | 
                                            b Not Held
                                            br
                                            | Possibly Finished
                                    span(ng-if="!c.publicAdv.shiro && c.progression.vanguard.progress.weeklyProgress<2000")
                                        i.fa.fa-question(aria-hidden='true')
                                        span.hidden-xs
                                            | 
                                            b Not Held
                                            br
                                            | Not Finished
                                    span(ng-if="c.publicAdv.shiro>=1")
                                        i.fa.fa-remove(aria-hidden='true')
                                        span.hidden-xs
                                            | 
                                            b Held ({{c.publicAdv.shiro}})
                                            br
                                            | Not Finished
                                td(ng-if="r==='variks'" data-as-sortable-item-handle)
                                    span.hidden-xs Variks Bounties
                                    span.visible-xs Variks
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='variks'" ng-repeat="c in vm.chars" ng-class="!c.progression?'active':c.publicAdv.variks==0 && c.progression.variks.progress.weeklyProgress>=750?'success':c.progression.variks.progress.weeklyProgress>=250?'warning':'danger'")
                                    span(ng-if="!c.publicAdv.variks && c.progression.variks.progress.weeklyProgress>=2000")
                                        i.fa.fa-question(aria-hidden='true')
                                        span.hidden-xs
                                            | 
                                            b Not Held
                                            br
                                            | Possibly Finished
                                    span(ng-if="!c.publicAdv.variks && c.progression.variks.progress.weeklyProgress<2000")
                                        i.fa.fa-question(aria-hidden='true')
                                        span.hidden-xs
                                            | 
                                            b Not Held
                                            br
                                            | Not Finished
                                    span(ng-if="c.publicAdv.variks>=1")
                                        i.fa.fa-remove(aria-hidden='true')
                                        span.hidden-xs
                                            | 
                                            b Held ({{c.publicAdv.variks}})
                                            br
                                            | Not Finished
                                td(ng-if="r==='shaxx'" data-as-sortable-item-handle)
                                    span.hidden-xs Shaxx Weekly
                                    span.visible-xs Shaxx
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='shaxx'" ng-repeat="c in vm.chars" ng-class="!c.progression?'active':c.publicAdv.shaxx==0 && c.progression.shaxx.progress.weeklyProgress>=500?'success':'danger'")
                                    span(ng-if="!c.publicAdv.shaxx && c.progression.shaxx.progress.weeklyProgress>=500")
                                        i.fa.fa-question(aria-hidden='true')
                                        span.hidden-xs
                                            | 
                                            b Not Held
                                            br
                                            | Possibly Finished
                                    span(ng-if="!c.publicAdv.shaxx && c.progression.shaxx.progress.weeklyProgress<500")
                                        i.fa.fa-question(aria-hidden='true')
                                        span.hidden-xs
                                            | 
                                            b Not Held
                                    span(ng-if="c.publicAdv.shaxx>=1")
                                        i.fa.fa-remove(aria-hidden='true')
                                        span.hidden-xs
                                            | 
                                            b Held
                                                span(ng-if='c.publicAdv.shaxx>1') ({{c.publicAdv.shaxx}})
                                            br
                                            | Not Finished
                                td(ng-if="r==='wrathhm'" data-as-sortable-item-handle)
                                    span.hidden-xs Wrath of the Machine HM
                                    span.visible-xs Wrath HM
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='wrathhm'" ng-repeat="c in vm.chars", ng-class="!c.publicAdv?'active':c.publicAdv.wrath.hm.dispClass")
                                    span.text-muted(ng-if="!c.publicAdv.wrath.hm.steps")  Coming soon
                                    span(ng-repeat="step in c.publicAdv.wrath.hm.steps")
                                        i.fa.fa-check(ng-if="step.isComplete")
                                        i.fa.fa-times(ng-if="!step.isComplete")
                                    | 
                                    b(ng-show="c.lifetime.wrathHm>0") ({{c.lifetime.wrathHm}})
                                td(ng-if="r==='wrath'" data-as-sortable-item-handle)
                                    span.hidden-xs Wrath of the Machine NM
                                    span.visible-xs Wrath NM
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='wrath'" ng-repeat="c in vm.chars", ng-class="!c.publicAdv?'active':c.publicAdv.wrath.nm.dispClass")
                                    span(ng-repeat="step in c.publicAdv.wrath.nm.steps")
                                        i.fa.fa-check(ng-if="step.isComplete")
                                        i.fa.fa-times(ng-if="!step.isComplete")
                                    | 
                                    b(ng-show="c.lifetime.wrathNm>0") ({{c.lifetime.wrathNm}})
                            
                                td(ng-if="r==='crotaBty'" data-as-sortable-item-handle)
                                    a(href="#crotaBtyNote")
                                        span.hidden-xs Dreadnaught Crota Bty
                                        span.visible-xs Crota Bty
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='crotaBty'" ng-repeat="c in vm.chars" ng-class="!c.progression?'active':c.publicAdv.crota==0 && c.progression.crota.progress.weeklyProgress>=1500?'success':c.progression.vanguard.progress.weeklyProgress>0?'warning':'danger'")
                                    span(ng-if="c.publicAdv.crota>0")
                                        i.fa.fa-remove(aria-hidden='true')
                                        span.hidden-xs
                                            | 
                                            b Held ({{c.publicAdv.crota}})
                                            br
                                            | Not Finished
                                    span(ng-if="!c.publicAdv.crota")
                                        b -
                                            span.hidden-xs
                                                | 
                                                b Not Held
                            
                                td(ng-if="r==='queen'" data-as-sortable-item-handle)
                                    span.hidden-xs Queen's Wrath Bounties
                                    span.visible-xs Queen
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='queen'" ng-repeat="c in vm.chars" ng-class="!c.progression?'active':c.publicAdv.queen==0 && c.progression.queen.progress.weeklyProgress>=750?'success':c.progression.queen.progress.weeklyProgress>=250?'warning':'danger'")
                                    span(ng-if="c.publicAdv.queen>0")
                                        i.fa.fa-remove(aria-hidden='true')
                                        span.hidden-xs
                                            | 
                                            b Held ({{c.publicAdv.queen}})
                                            br
                                            | Not Finished
                                    span(ng-if="!c.publicAdv.queen")
                                        b -
                                            span.hidden-xs
                                                | 
                                                b Not Held
                            
                                td(ng-if="r==='dailyHeroic'" data-as-sortable-item-handle)
                                    span Daily Heroic
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='dailyHeroic'" ng-repeat="c in vm.chars", ng-class="!c.publicAdv?'active':c.publicAdv.dailyHeroic?'success':'danger'")
                                    i.fa.fa-check(ng-if="c.publicAdv.dailyHeroic")
                                    i.fa.fa-times(ng-if="!c.publicAdv.dailyHeroic")
                            
                                td(ng-if="r==='dailyPvp'" data-as-sortable-item-handle)
                                    span Daily PvP
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='dailyPvp'" ng-repeat="c in vm.chars", ng-class="!c.publicAdv?'active':c.publicAdv.dailyPvp?'success':'danger'")
                                    i.fa.fa-check(ng-if="c.publicAdv.dailyPvp")
                                    i.fa.fa-times(ng-if="!c.publicAdv.dailyPvp")
                            
                                td(ng-if="r==='nightfall'" data-as-sortable-item-handle)
                                    span Nightfall
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='nightfall'" ng-repeat="c in vm.chars", ng-class="!c.publicAdv?'active':c.publicAdv.nightfall?'success':'danger'")
                                    i.fa.fa-check(ng-if="c.publicAdv.nightfall")
                                    i.fa.fa-times(ng-if="!c.publicAdv.nightfall")
                            
                                td(ng-if="r==='weeklyHeroic'" data-as-sortable-item-handle)
                                    span Weekly Heroic
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='weeklyHeroic'" ng-repeat="c in vm.chars", ng-class="!c.publicAdv?'active':c.publicAdv.weeklyHeroic?'success':'danger'")
                                    i.fa.fa-check(ng-if="c.publicAdv.weeklyHeroic")
                                    i.fa.fa-times(ng-if="!c.publicAdv.weeklyHeroic")
                            
                                td(ng-if="r==='weeklyPvp'" data-as-sortable-item-handle)
                                    span Weekly PvP
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='weeklyPvp'" ng-repeat="c in vm.chars", ng-class="!c.publicAdv?'active':c.publicAdv.weeklyCrucible?'success':'danger'")
                                    i.fa.fa-check(ng-if="c.publicAdv.weeklyCrucible")
                                    i.fa.fa-times(ng-if="!c.publicAdv.weeklyCrucible")
                            
                                td(ng-if="r==='gunsmith'" data-as-sortable-item-handle)
                                    span Gunsmith Tests
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='gunsmith'" ng-repeat="c in vm.chars", ng-class="!c.publicAdv?'active':c.progression.gunsmith >= 5?'success':c.progression.gunsmith>0?'warning':'danger'")
                                    b {{c.progression.gunsmith}} / 5
                            
                                td(ng-if="r==='coe'" data-as-sortable-item-handle)
                                    span.hidden-xs Challenge of Elders
                                    span.visible-xs CoE
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                    div - High
                                    div - Total
                                    div
                                        span.hidden-xs - Fastest Ever
                                        span.visible-xs - PR
                                    td(ng-if="r==='coe'" ng-repeat="c in vm.chars" ng-class="!c.publicAdv?'active':c.publicAdv.coe.high.complete && c.publicAdv.coe.cum.complete?'success':'danger'")
                                        i.fa.fa-check(ng-if="c.publicAdv.coe.high.complete && c.publicAdv.coe.cum.complete")
                                        i.fa.fa-times(ng-if="!(c.publicAdv.coe.high.complete && c.publicAdv.coe.cum.complete)")
                                        | 
                                        b(ng-show="c.lifetime.coe42>0") ({{c.lifetime.coe42}})
                                        br
                                        span(ng-if="c.publicAdv.coe.high.score") {{c.publicAdv.coe.high.score|number:0}}
                                        span(ng-if="!c.publicAdv.coe.high.score") -
                                        br
                                        span(ng-if="c.publicAdv.coe.cum.score") {{c.publicAdv.coe.cum.score|number:0}}
                                        span(ng-if="!c.publicAdv.coe.cum.score") -
                                        br
                                        span(ng-if="c.lifetime.speed.coe42") {{c.lifetime.speed.coe42}}
                                        span(ng-if="!c.lifetime.speed.coe42") -
                            
                                td(ng-if="r==='kfhm'" data-as-sortable-item-handle)
                                    span.hidden-xs King's Fall HM
                                    span.visible-xs KF HM
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='kfhm'" ng-repeat="c in vm.chars", ng-class="!c.publicAdv?'active':c.publicAdv.kf.hm.dispClass")
                                    span(ng-repeat="step in c.publicAdv.kf.hm.steps")
                                        i.fa.fa-check(ng-if="step.isComplete")
                                        i.fa.fa-times(ng-if="!step.isComplete")
                                    | 
                                    b(ng-show="c.lifetime.kingHm>0") ({{c.lifetime.kingHm}})
                            
                                td(ng-if="r==='kfnm'" data-as-sortable-item-handle)
                                    span.hidden-xs King's Fall NM
                                    span.visible-xs KF NM
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='kfnm'" ng-repeat="c in vm.chars", ng-class="!c.publicAdv?'active':c.publicAdv.kf.nm.dispClass")
                                    span(ng-repeat="step in c.publicAdv.kf.nm.steps")
                                        i.fa.fa-check(ng-if="step.isComplete")
                                        i.fa.fa-times(ng-if="!step.isComplete")
                                    | 
                                    b(ng-show="c.lifetime.kingNm>0") ({{c.lifetime.kingNm}})
                            
                                td(ng-if="r==='cehm'" data-as-sortable-item-handle)
                                    span.hidden-xs Crota's End HM
                                    span.visible-xs CE HM
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='cehm'" ng-repeat="c in vm.chars", ng-class="!c.publicAdv?'active':c.publicAdv.ce.hm.dispClass")
                                    span(ng-repeat="step in c.publicAdv.ce.hm.steps")
                                        i.fa.fa-check(ng-if="step.isComplete")
                                        i.fa.fa-times(ng-if="!step.isComplete")
                                    | 
                                    b(ng-show="c.lifetime.ceHm>0") ({{c.lifetime.ceHm}})
                            
                                td(ng-if="r==='cenm'" data-as-sortable-item-handle)
                                    span.hidden-xs Crota's End NM
                                    span.visible-xs CE NM
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='cenm'" ng-repeat="c in vm.chars", ng-class="!c.publicAdv?'active':c.publicAdv.ce.nm.dispClass")
                                    span(ng-repeat="step in c.publicAdv.ce.nm.steps")
                                        i.fa.fa-check(ng-if="step.isComplete")
                                        i.fa.fa-times(ng-if="!step.isComplete")
                                    | 
                                    b(ng-show="c.lifetime.ceNm>0") ({{c.lifetime.ceNm}})
                                td(ng-if="r==='poe41'" data-as-sortable-item-handle)
                                    span.hidden-xs Prison of Elders 41
                                    span.visible-xs PoE 41
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='poe41'" ng-repeat="c in vm.chars", ng-class="!c.weekly?'active':!c.weekly.poe41?'danger':'success'")
                                    span(ng-if="c.weekly")
                                        i.fa.fa-check(ng-if="c.weekly.poe41")
                                        i.fa.fa-times(ng-if="!c.weekly.poe41")
                                    | 
                                    b(ng-show="c.lifetime.poe41>0") ({{c.lifetime.poe41}})
                                td(ng-if="r==='poe35'" data-as-sortable-item-handle)
                                    span.hidden-xs Prison of Elders 35
                                    span.visible-xs PoE 35
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='poe35'" ng-repeat="c in vm.chars", ng-class="!c.weekly?'active':!c.weekly.poe35?'danger':'success'")
                                    span(ng-if="c.weekly")
                                        i.fa.fa-check(ng-if="c.weekly.poe35")
                                        i.fa.fa-times(ng-if="!c.weekly.poe35")
                                    | 
                                    b(ng-show="c.lifetime.poe35>0") ({{c.lifetime.poe35}})
                                td(ng-if="r==='poe34'" data-as-sortable-item-handle)
                                    span.hidden-xs Prison of Elders 34
                                    span.visible-xs PoE 34
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='poe34'" ng-repeat="c in vm.chars", ng-class="!c.weekly?'active':!c.weekly.poe34?'danger':'success'")
                                    span(ng-if="c.weekly")
                                        i.fa.fa-check(ng-if="c.weekly.poe34")
                                        i.fa.fa-times(ng-if="!c.weekly.poe34")
                                    | 
                                    b(ng-show="c.lifetime.poe34>0") ({{c.lifetime.poe34}})
                                td(ng-if="r==='poe32'" data-as-sortable-item-handle)
                                    span.hidden-xs Prison of Elders 32
                                    span.visible-xs PoE 32
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='poe32'" ng-repeat="c in vm.chars", ng-class="!c.weekly?'active':!c.weekly.poe32?'danger':'success'")
                                    span(ng-if="c.weekly")
                                        i.fa.fa-check(ng-if="c.weekly.poe32")
                                        i.fa.fa-times(ng-if="!c.weekly.poe32")
                                    | 
                                    b(ng-show="c.lifetime.poe32>0") ({{c.lifetime.poe32}})
                                td(ng-if="r==='voghm'" data-as-sortable-item-handle)
                                    span.hidden-xs Vault of Glass HM
                                    span.visible-xs VoG HM
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='voghm'" ng-repeat="c in vm.chars", ng-class="!c.publicAdv?'active':c.publicAdv.vog.hm.dispClass")
                                    span(ng-repeat="step in c.publicAdv.vog.hm.steps")
                                        i.fa.fa-check(ng-if="step.isComplete")
                                        i.fa.fa-times(ng-if="!step.isComplete")
                                    | 
                                    b(ng-show="c.lifetime.vogHm>0") ({{c.lifetime.vogHm}})
                                td(ng-if="r==='vognm'" data-as-sortable-item-handle)
                                    span.hidden-xs Vault of Glass NM
                                    span.visible-xs VoG NM
                                    | 
                                    a.pull-right(title='hide', href, ng-click='vm.hideRow($index)')
                                        i.fa.fa-minus-square-o(aria-hidden='true')
                                td(ng-if="r==='vognm'" ng-repeat="c in vm.chars", ng-class="!c.publicAdv?'active':c.publicAdv.vog.nm.dispClass")
                                    span(ng-repeat="step in c.publicAdv.vog.nm.steps")
                                        i.fa.fa-check(ng-if="step.isComplete")
                                        i.fa.fa-times(ng-if="!step.isComplete")
                                    | 
                                    b(ng-show="c.lifetime.vogNm>0") ({{c.lifetime.vogNm}})

                    include adhocmobile
                    h4 Notes
                    ul
                        li You can click the little minus icons to hide any rows you don't care about. You can also drag-and-drop to re-order rows. These settings are remembered in your cookies for future visits.
                        li <b>Help! I hid a row. How do I get it back?!</b> Click the <a href="https://imgur.com/a/gQi2f" target="_blank" rel="noopener">undo icon next to the "Activity" header</a>
                        li 390 AoT raids should be good to go, let me know if you see any problems!
                        li All factions over 75% ranked are reported above. If none are over 75% then your most complete faction is shown instead.
                        li Shiro, Shaxx and public events are guesses based on your faction progress. Doing other activities that raise your Vanguard or Crucible faction may make these falsely report as complete. It's the best we can do for now.
                        li Green items have already been completed and/or no rewards can be obtained due to other completions
                        li Yellow items are partially completed but more rewards can still be obtained
                        li Numbers after weekly completions indicate the number of valid completions (wins in PvP, completion in PvE), since there are rewards for up to 3 account completions per week
                        li
                            | For raids, once a Hard Mode (HM) raid is completed there are no rewards for NM, so it is marked as green.
                        li
                            | Items in parentheses are lifetime completion counts for *that character* (so the player may have more completions across other characters). Lifetime completions for deleted characters are not displayed.
                #weapons.tab-pane.fade
                    ul.nav.nav-tabs(role='tablist', style="margin-top: 2px")
                        li(ng-repeat="c in vm.chars", ng-class="$index==0?'active':''")
                            a(ng-href='#weapons_{{c.id}}', role='tab', data-toggle='tab') {{c.class}}({{c.power}})

                    .tab-content
                        .tab-pane(ng-repeat="c in vm.chars", ng-attr-id="weapons_{{c.id}}", ng-class="$index==0?'active':'fade'")
                            table.table
                                thead
                                    tr
                                        th.col-md-2 Weapon
                                        th.col-md-2 Stats
                                        th.col-md-8 Perks
                                tbody
                                    tr(ng-repeat="g in c.items.guns")
                                        td
                                            //dl
                                            dt {{g.name}}
                                            dd {{g.dmg}} {{g.dmgType}} <br> {{g.tier}} {{g.type}} 
                                        td
                                            //dl
                                            dt(ng-repeat-start="stat in g.stats") {{stat.name}} 
                                            dd(ng-repeat-end) {{stat.value}}
                                        td
                                            //dl
                                            dt(ng-repeat-start="p in g.perks" ng-class="p.active?'text-success':'text-muted' ") {{p.name}} 
                                            dd(ng-repeat-end) {{p.desc}}
                                            dt(ng-repeat-start="s in g.selections") {{s.name}} 
                                            dd(ng-repeat-end) {{s.desc}}
                #armor.tab-pane.fade
                    #accordion_a.panel-group(role='tablist')
                        ul.nav.nav-tabs(role='tablist', style="margin-top: 2px")
                            li(ng-repeat="c in vm.chars", ng-class="$index==0?'active':''")
                                a(ng-href='#armor_{{c.id}}', role='tab', data-toggle='tab') {{c.class}}({{c.power}})
                        .tab-content
                            .tab-pane(ng-repeat="c in vm.chars", ng-attr-id="armor_{{c.id}}", ng-class="$index==0?'active':'fade'")
                                table.table
                                    thead
                                        tr
                                            th.col-md-2 Item
                                            th.col-md-2 Stats
                                            th.col-md-8 Perks
                                    tbody
                                        tr(ng-repeat="a in c.items.armor")
                                            td
                                                dl
                                                    dt {{a.name}}  
                                                    dd {{a.armor}} <br> {{a.tier}} {{a.type}}
                                            td
                                                dt(ng-if="a.quality") Quality
                                                dd(ng-if="a.quality") {{a.quality.statSplit}} - {{a.quality.qualityPct}}% 
                                                dt Intellect
                                                dd {{a.stats.int}}
                                                    span(ng-if="a.quality")  - {{a.quality.intPct}}%
                                                dt Discipline
                                                dd {{a.stats.disc}}
                                                    span(ng-if="a.quality")  - {{a.quality.disPct}}%
                                                dt Strength
                                                dd {{a.stats.str}}
                                                    span(ng-if="a.quality")  - {{a.quality.strPct}}%
                                                //dt(ng-repeat-start="stat in a.stats") {{stat.name}} 
                                                //dd(ng-repeat-end) {{stat.value}}
                                            td
                                                dt(ng-repeat-start="p in a.perks" ng-class="p.active?'text-success':'text-muted' ") {{p.name}} 
                                                dd(ng-repeat-end) {{p.desc}}

                #stats.tab-pane.fade
                    #accordion_a.panel-group(role='tablist')
                        ul.nav.nav-tabs(role='tablist', style="margin-top: 2px")
                            li(ng-repeat="c in vm.chars", ng-class="$index==0?'active':''")
                                a(ng-href='#stats_{{c.id}}', role='tab', data-toggle='tab') {{c.class}}({{c.power}})
                        .tab-content
                            .tab-pane(ng-repeat="c in vm.chars", ng-attr-id="stats_{{c.id}}", ng-class="$index==0?'active':'fade'")
                                table.table
                                    thead
                                        tr
                                            th.col-md-2 Stats
                                            th.col-md-10 {{c.items.subclass.name}} ({{c.items.subclass.dmgType}})
                                    tbody
                                        tr
                                            td
                                                dl
                                                    dt Strength
                                                    dd T{{vm.getTier(c.stats.strength)}} - {{c.stats.strength}} 
                                                    dt Discipline
                                                    dd T{{vm.getTier(c.stats.discipline)}} - {{c.stats.discipline}}
                                                    dt Intellect
                                                    dd T{{vm.getTier(c.stats.intellect)}} - {{c.stats.intellect}}
                                                    dt Armor
                                                    dd {{c.stats.armor}}
                                                    dt Agility
                                                    dd {{c.stats.agility}}
                                                    dt Recovery
                                                    dd {{c.stats.recovery}}
                                                    dt Optics
                                                    dd {{c.stats.optics}}

                                            td
                                                dl
                                                    dt(ng-repeat-start="s in c.items.subclass.selections") {{s.name}} 
                                                    dd(ng-repeat-end) {{s.desc}}
                #progress.tab-pane.fade
                    #accordion_a.panel-group(role='tablist')
                        ul.nav.nav-tabs(role='tablist', style="margin-top: 2px")
                            li(ng-repeat="c in vm.chars", ng-class="$index==0?'active':''")
                                a(ng-href='#progress_{{c.id}}', role='tab', data-toggle='tab') {{c.class}}({{c.power}})
                        .tab-content
                            .tab-pane(ng-repeat="c in vm.chars", ng-attr-id="progress_{{c.id}}", ng-class="$index==0?'active':'fade'")
                                table.table
                                    thead
                                        tr
                                            th.col-xs-6.col-sm-3 Faction
                                            th.col-xs-4.col-md-1 Progress
                                            th.col-xs-1.col-md-1 Rank
                                            th.col-xs-1.col-md-1 Max Rank
                                    tbody
                                        tr(ng-repeat="p in c.progression.normal")
                                            td
                                                dt {{p.name}} 
                                                    a(ng-href='{{vm.buildRepURL(c.id, p.progress.progressionHash)}}', target='_blank')
                                                        i.fa.fa-link(aria-hidden='true')
                                                dd
                                                    p.hidden-xs {{p.desc}}
                                                    .progress
                                                        .progress-bar(ng-style='{"min-width": "2em", "width": "{{p.progress.pct}}%"}') {{p.progress.pct}}% 
                                            td
                                                | {{(p.progress.nextLevelAt - p.progress.progressToNextLevel)|number:0}}xp TNL
                                                br
                                                | {{p.progress.progressToNextLevel|number:0}} ⁄ {{p.progress.nextLevelAt|number:0}}
                                            td {{p.progress.level}}
                                            td {{p.totalRanks}}
                                                span(ng-if="p.repeats") *
                                        tr(ng-show="vm.showHiddenFactions===true", ng-repeat="p in c.progression.hidden")
                                            td
                                                dt {{p.name}} 
                                                    a(ng-href='{{vm.buildRepURL(c.id, p.progress.progressionHash)}}', target='_blank')
                                                        i.fa.fa-link(aria-hidden='true')
                                                dd
                                                    p.hidden-xs Hidden stat, do with this what you will.
                                                    .progress
                                                        .progress-bar(ng-style='{"min-width": "2em", "width": "{{vm.repProgressPct(p.progress)}}%"}') {{vm.repProgressPct(p.progress)}}% 
                                            td
                                                | {{(p.progress.nextLevelAt - p.progress.progressToNextLevel)|number:0}}xp TNL
                                                br
                                                | {{p.progress.progressToNextLevel|number:0}} ⁄ {{p.progress.nextLevelAt|number:0}}
                                            td {{p.progress.level}}
                                            td {{p.totalRanks}}
                                                span(ng-if="p.repeats") *
                            button.btn.btn-info(ng-show="vm.showHiddenFactions===false", ng-click="vm.showHiddenFactions = true") Show Hidden Factions
                            button.btn.btn-info(ng-show="vm.showHiddenFactions===true", ng-click="vm.showHiddenFactions = false") Hide Hidden Factions
                            h4 Notes
                            ul
                                li TNL stands for "To Next Level"
                                li Any rank ending in * will repeat. The max rank listed is the last rank where special one-off rewards might occur and future ranks will gave stock or no rewards (the cryptarch is a good example of this up to rank 3 things change with him, from then on you always get a simple reward package). It's interesting to note that the PvP factions max at 25 and give you a special reward for rank 25.
                                li Click "Show Hidden Factions" to show factions that the API returns that aren't displayed anywhere else. Your guess is as good as mine what they mean but they can be fun to compare.
                #PVEhistory.tab-pane.fade
                    #accordion_a.panel-group(role='tablist')
                        ul.nav.nav-tabs(role='tablist', style="margin-top: 2px")
                            li(ng-repeat="c in vm.chars", ng-class="$index==0?'active':''")
                                a(ng-href='#history_{{c.id}}', role='tab', data-toggle='tab') {{c.class}}({{c.power}})
                        .tab-content
                            .tab-pane(ng-repeat="c in vm.chars", ng-attr-id="history_{{c.id}}", ng-class="$index==0?'active':'fade'")
                                table.table
                                    thead
                                        tr
                                            th Date
                                            th Mission
                                            th
                                                span.hidden-xs Kills
                                                span.visible-xs-block K
                                            th
                                                span.hidden-xs Deaths
                                                span.visible-xs-block D 
                                            th.hidden-xs Assists
                                            th
                                                span.hidden-xs Complete
                                                span.visible-xs-block Comp
                                    tbody
                                        tr(ng-repeat="g in c.weekly.history")
                                            td
                                                a(ng-href='/match/{{g.hash}}') {{g.date}}
                                                br
                                                | {{g.dateDesc}}
                                            td
                                                | {{g.name}}
                                                br
                                                | Level {{g.level}}
                                            td {{g.kills}}
                                            td {{g.deaths}}
                                            td.hidden-xs {{g.assists}}
                                            td {{g.result}}

                #PVPhistory.tab-pane.fade
                    #accordion_a.panel-group(role='tablist')
                        ul.nav.nav-tabs(role='tablist', style="margin-top: 2px")
                            li(ng-repeat="c in vm.chars", ng-class="$index==0?'active':''")
                                a(ng-href='#PVPhistory_{{c.id}}', role='tab', data-toggle='tab') {{c.class}}({{c.power}})
                        .tab-content
                            .tab-pane(ng-repeat="c in vm.chars", ng-attr-id="PVPhistory_{{c.id}}", ng-class="$index==0?'active':'fade'")
                                table.table
                                    thead
                                        tr
                                            th Date
                                            th Mission
                                            th
                                                span.hidden-xs Score
                                                span.visible-xs-block Pts
                                            th
                                                span.hidden-xs Kills
                                                span.visible-xs-block K
                                            th
                                                span.hidden-xs Deaths
                                                span.visible-xs-block D 
                                            th.hidden-xs Assists
                                            th.hidden-xs Result
                                    tbody
                                        tr(ng-repeat="g in c.weeklyPvP.history")
                                            td
                                                a(ng-href='/pvpmatch/{{g.hash}}') {{g.date}}
                                                br
                                                | {{g.dateDesc}}
                                            td
                                                | {{g.type}}
                                                br
                                                | Level {{g.name}}
                                            td {{g.score}}
                                            td {{g.kills}}
                                            td {{g.deaths}}
                                            td.hidden-xs {{g.assists}}
                                            td.hidden-xs {{g.result}}

                #bounties.tab-pane.fade
                    #accordion_a.panel-group(role='tablist')
                        ul.nav.nav-tabs(role='tablist', style="margin-top: 2px")
                            li(ng-repeat="c in vm.chars", ng-class="$index==0?'active':''")
                                a(ng-href='#quests_{{c.id}}', role='tab', data-toggle='tab') {{c.class}}({{c.power}})
                        .tab-content
                            .tab-pane(ng-repeat="c in vm.chars", ng-attr-id="quests_{{c.id}}", ng-class="$index==0?'active':'fade'")

                                ul.nav.nav-tabs(role='tablist', style="margin-top: 2px")
                                    li(class="active")
                                        a(ng-href='#b_{{c.id}}', role='tab', data-toggle='tab') Bounties     
                                    li(class="")
                                        a(ng-href='#q_{{c.id}}', role='tab', data-toggle='tab') Quests
                                .tab-content
                                    .tab-pane.active(ng-attr-id="b_{{c.id}}")
                                        div.list-group(style="margin-top: 5px")
                                            .list-group-item(ng-repeat="b in c.publicAdv.bounties")
                                                b {{b.name}}
                                                br
                                                | {{b.desc}}
                                                div(ng-repeat="obj in b.objectives")
                                                    span.label.label-info {{obj.progress}} / {{obj.value}}
                                                    |  {{obj.item}}

                                    .tab-pane.fade(ng-attr-id="q_{{c.id}}")
                                        ul.list-group(style="margin-top: 5px")
                                            li.list-group-item(ng-repeat="q in c.publicAdv.quests")
                                                a(style='font-weight: bold', href, ng-click="vm.showQuest(q)") {{q.name}}
                                                br
                                                | {{q.currentStep}}/{{q.steps.length}} - {{q.steps[q.currentStep-1].desc}}


        #questModal.modal.fade(tabindex='-1', role='dialog')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title {{vm.selectedQuest.name}}
                    .modal-body
                        ul.list-group
                            li.list-group-item(ng-repeat='step in vm.selectedQuest.steps', ng-class="($index+1) === vm.selectedQuest.currentStep?'active':''")
                                p <b>{{$index+1}}: {{step.name}}</b><br/> {{step.desc}}
    | <script>
    |  var PLAYER_PLATFORM=#{data.player.platform};
    |  var PLAYER_NAME='#{data.player.name}';
    |  var MEMBER_ID='#{data.player.memberId}';
    | </script>
    script.
        function initMe() {

        }