extends layout

block content
    h1 True Meaning of War Tracking
    p.lead Coming soon! Quickly report on your progress with Lord Shaxx's weekly bounty!
    include adhocmobile
    script.       
        function initMe() {
        }