extends layout

block content
    div.button-wrapper(ng-app="vendorApp",ng-controller="mainController")
        ul.nav.nav-tabs.nav-condensed(role='tablist')
            li.active
                a(href='#armor', role='tab', data-toggle='tab') <i class="fa fa-shield"></i>
                    span.hidden-xs.hidden-sm.hidden-md  Armor
            li
                a(href='#weapons', role='tab', data-toggle='tab') <i class="fa fa-gavel"></i>
                    span.hidden-xs.hidden-sm.hidden-md  Weapons
            li
                a(href='#emblems', role='tab', data-toggle='tab') <i class="fa fa-id-card"></i>
                    span.hidden-xs.hidden-sm.hidden-md  Emblems
            li
                a(href='#shaders', role='tab', data-toggle='tab') <i class="fa fa-paint-brush"></i>
                    span.hidden-xs.hidden-sm.hidden-md  Shaders
            li
                a(href='#ships', role='tab', data-toggle='tab') <i class="fa fa-fighter-jet"></i>
                    span.hidden-xs.hidden-sm.hidden-md  Ships
        .tab-content(ng-cloak)
            #armor.tab-pane.active
                .form-inline(style="padding-top:10px")
                    .form-group
                        .btn-toolbar
                            .btn-group
                                button.btn.btn-default.dropdown-toggle.ng-binding(type='button', data-toggle='dropdown')
                                    | Selected Slots 
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a.small(href='', ng-click="vm.selectAllArmorSlots(true); vm.filterArmor()") Select All
                                    li
                                        a.small(href='', ng-click="vm.selectAllArmorSlots(false); vm.filterArmor()") Deselect All

                                    li(ng-repeat='filter in vm.armorFilters.slots')
                                        a.small(href="" ng-click="filter.selected = !filter.selected; vm.filterArmor()")
                                            i.fa.fa-square-o(ng-show='!filter.selected')
                                            i.fa.fa-check-square-o(ng-show='filter.selected')
                                            |  {{filter.label}}
                            .btn-group
                                button.btn.btn-default.dropdown-toggle.ng-binding(type='button', data-toggle='dropdown')
                                    | {{vm.armorFilters.selectedSplit.label}} 
                                    span.caret
                                ul.dropdown-menu
                                    li(ng-repeat='filter in vm.armorFilters.splits')
                                        a(href="" ng-click='vm.armorFilters.selectedSplit=filter; vm.filterArmor()') {{filter.label}}
                            .btn-group
                                button.btn.btn-default.dropdown-toggle.ng-binding(type='button', data-toggle='dropdown')
                                    | {{vm.armorFilters.selectedRarity.label}} 
                                    span.caret
                                ul.dropdown-menu
                                    li(ng-repeat='filter in vm.rarityFilters')
                                        a(href="" ng-click='vm.armorFilters.selectedRarity=filter; vm.filterArmor()') {{filter.label}}
                            .btn-group
                                button.btn.btn-default.dropdown-toggle.ng-binding(type='button', data-toggle='dropdown')
                                    | {{vm.armorFilters.selectedEquippable.label}} 
                                    span.caret
                                ul.dropdown-menu
                                    li(ng-repeat='filter in vm.armorFilters.equippable')
                                        a(href="" ng-click='vm.armorFilters.selectedEquippable=filter; vm.filterArmor()') {{filter.label}}
                    .form-group.pull-right
                        .input-group
                            .input-group-addon
                                i.fa.fa-search(aria-hidden='true')
                            input.form-control(type='text', ng-model='vm.armorFilters.displayText', ng-change='vm.setArmorTextFilter(); vm.filterArmor()', placeholder='Filter by text')
                
                table.table.table-condensed(ng-cloak)
                    thead
                        tr
                            th
                            th 
                                a(href="" style="white-space:nowrap;" ng-click="vm.sortArmor('item.name')") Name
                                    span(ng-if="vm.armorSort=='item.name'")
                                        i.fa.fa-arrow-down(ng-if="!vm.armorAsc")
                                        i.fa.fa-arrow-up(ng-if="vm.armorAsc")
                            th.hidden-xs
                                a(href="" style="white-space:nowrap;" ng-click="vm.sortArmor('item.slot')") Slot
                                    span(ng-if="vm.armorSort=='item.slot'")
                                        i.fa.fa-arrow-down(ng-if="!vm.armorAsc")
                                        i.fa.fa-arrow-up(ng-if="vm.armorAsc")
                            th.hidden-sm.hidden-xs
                                a(href="" style="white-space:nowrap;" ng-click="vm.sortArmor('item.classAllowed')") Class
                                    span(ng-if="vm.armorSort=='item.classAllowed'")
                                        i.fa.fa-arrow-down(ng-if="!vm.armorAsc")
                                        i.fa.fa-arrow-up(ng-if="vm.armorAsc")
                            th
                                a(href="" style="white-space:nowrap;" ng-click="vm.sortArmor('item.qualityPct')") Rating
                                    span(ng-if="vm.armorSort=='item.qualityPct'")
                                        i.fa.fa-arrow-down(ng-if="!vm.armorAsc")
                                        i.fa.fa-arrow-up(ng-if="vm.armorAsc")
                            th.hidden-sm.hidden-xs
                                a(href="" style="white-space:nowrap;" ng-click="vm.sortArmor('item.quality.statSplit')") Split
                                    span(ng-if="vm.armorSort=='item.quality.statSplit'")
                                        i.fa.fa-arrow-down(ng-if="!vm.armorAsc")
                                        i.fa.fa-arrow-up(ng-if="vm.armorAsc")
                            th.hidden-xs Perks
                            th 
                                a(href="" style="white-space:nowrap;" ng-click="vm.sortArmor('vendor')") Vendor
                                    span(ng-if="vm.armorSort=='vendor'")
                                        i.fa.fa-arrow-down(ng-if="!vm.armorAsc")
                                        i.fa.fa-arrow-up(ng-if="vm.armorAsc")
                    tbody
                        tr(ng-if="!r.hidden" ng-repeat="r in vm.armor | orderBy:vm.armorSort:!vm.armorAsc")
                            td.item-image(ng-style="{'background-image':'url(//www.bungie.net'+r.item.icon+')'}")
                                .primary-stat {{r.item.light}}
                            td {{r.item.name}}
                                .visible-xs-block.visible-sm-block
                                    i {{r.item.classAllowed}}
                                .visible-xs-block  {{r.item.slot}}
                                .hidden-xs
                                    small
                                        i {{r.item.stats.int}}-{{r.item.stats.disc}}-{{r.item.stats.str}}
                            td.hidden-xs {{r.item.slot}}
                            td.hidden-sm.hidden-xs {{r.item.classAllowed}}
                            td {{r.item.qualityPct}}%
                                .visible-xs-block.visible-sm-block {{r.item.quality.statSplit}}
                            td.hidden-sm.hidden-xs {{r.item.quality.statSplit}}                                
                            td.hidden-xs 
                                div(ng-repeat="col in r.item.steps")
                                    span(ng-repeat="step in col")
                                        a(href="" data-toggle="popover" data-trigger="focus" data-placement="top" ng-attr-title="{{step.name}}" 
                                            ng-attr-data-content="{{step.desc}}" ng-click="vm.stepTip($event)") 
                                            | {{step.name}}  
                                        span(ng-if="!$last")  | 
                            td
                                b {{r.vendor}}
                                div(ng-if="r.resetDays==1")
                                    small Resets every day
                                div(ng-if="r.resetDays>1")
                                    small Resets every {{r.resetDays}} days
                                div(ng-repeat="c in r.costs") {{c.value}} {{c.name}} 

            #weapons.tab-pane.fade
                .form-inline(style="padding-top:10px")
                    .form-group
                        .btn-toolbar
                            .btn-group
                                button.btn.btn-default.dropdown-toggle.ng-binding(type='button', data-toggle='dropdown')
                                    | {{vm.weaponFilters.selectedSlot.label}} 
                                    span.caret
                                ul.dropdown-menu
                                    li(ng-repeat='filter in vm.weaponFilters.slots')
                                        a(ng-if="filter.slot", href="" ng-click='vm.weaponFilters.selectedSlot=filter; vm.filterWeapons()') 
                                            b {{filter.label}}
                                        a(ng-if="!filter.slot", href="" ng-click='vm.weaponFilters.selectedSlot=filter; vm.filterWeapons()') &emsp;{{filter.label}}
                            .btn-group
                                button.btn.btn-default.dropdown-toggle.ng-binding(type='button', data-toggle='dropdown')
                                    | {{vm.weaponFilters.selectedRarity.label}} 
                                    span.caret
                                ul.dropdown-menu
                                    li(ng-repeat='filter in vm.rarityFilters')
                                        a(href="" ng-click='vm.weaponFilters.selectedRarity=filter; vm.filterWeapons()') {{filter.label}}
                    .form-group.pull-right
                        .input-group
                            .input-group-addon
                                i.fa.fa-search(aria-hidden='true')
                            input.form-control(type='text', ng-model='vm.weaponFilters.displayText', ng-change='vm.setWeaponTextFilter(); vm.filterWeapons()', placeholder='Filter by text')

                table.table.table-condensed(ng-cloak)
                    thead
                        tr
                            th
                            th
                                a(href="" style="white-space:nowrap;" ng-click="vm.sortWeapon('item.name')") Name
                                    span(ng-if="vm.weaponSort=='item.name'")
                                        i.fa.fa-arrow-down(ng-if="!vm.weaponAsc")
                                        i.fa.fa-arrow-up(ng-if="vm.weaponAsc")
                            th.hidden-xs
                                a(href="" style="white-space:nowrap;" ng-click="vm.sortWeapon('item.type')") Type
                                    span(ng-if="vm.weaponSort=='item.type'")
                                        i.fa.fa-arrow-down(ng-if="!vm.weaponAsc")
                                        i.fa.fa-arrow-up(ng-if="vm.weaponAsc")
                            th.hidden-xs Perks
                            th
                                a(href="" style="white-space:nowrap;" ng-click="vm.sortWeapon('vendor')") Vendor
                                    span(ng-if="vm.weaponSort=='vendor'")
                                        i.fa.fa-arrow-down(ng-if="!vm.weaponAsc")
                                        i.fa.fa-arrow-up(ng-if="vm.weaponAsc")
                            th.hidden-xs
                                a(href="" style="white-space:nowrap;" ng-click="vm.sortWeapon('item.stats.impact')") Imp
                                    span(ng-if="vm.weaponSort=='item.stats.impact'")
                                        i.fa.fa-arrow-down(ng-if="!vm.weaponAsc")
                                        i.fa.fa-arrow-up(ng-if="vm.weaponAsc")
                            th.hidden-xs
                                a(href="" style="white-space:nowrap;" ng-click="vm.sortWeapon('item.stats.range')") Rng
                                    span(ng-if="vm.weaponSort=='item.stats.range'")
                                        i.fa.fa-arrow-down(ng-if="!vm.weaponAsc")
                                        i.fa.fa-arrow-up(ng-if="vm.weaponAsc")
                            th.hidden-xs.hidden-sm.hidden-md
                                a(href="" style="white-space:nowrap;" ng-click="vm.sortWeapon('item.stats.stability')") Stab
                                    span(ng-if="vm.weaponSort=='item.stats.stability'")
                                        i.fa.fa-arrow-down(ng-if="!vm.weaponAsc")
                                        i.fa.fa-arrow-up(ng-if="vm.weaponAsc")
                            th.hidden-xs.hidden-sm.hidden-md
                                a(href="" style="white-space:nowrap;" ng-click="vm.sortWeapon('item.stats.rof')") ROF
                                    span(ng-if="vm.weaponSort=='item.stats.rof'")
                                        i.fa.fa-arrow-down(ng-if="!vm.weaponAsc")
                                        i.fa.fa-arrow-up(ng-if="vm.weaponAsc")
                            th.hidden-xs.hidden-sm.hidden-md
                                a(href="" style="white-space:nowrap;" ng-click="vm.sortWeapon('item.stats.reload')") Rel
                                    span(ng-if="vm.weaponSort=='item.stats.reload'")
                                        i.fa.fa-arrow-down(ng-if="!vm.weaponAsc")
                                        i.fa.fa-arrow-up(ng-if="vm.weaponAsc")
                            th.hidden-xs.hidden-sm.hidden-md
                                a(href="" style="white-space:nowrap;" ng-click="vm.sortWeapon('item.stats.magazine')") Mag
                                    span(ng-if="vm.weaponSort=='item.stats.magazine'")
                                        i.fa.fa-arrow-down(ng-if="!vm.weaponAsc")
                                        i.fa.fa-arrow-up(ng-if="vm.weaponAsc")
                            th
                                a(href="" style="white-space:nowrap;" ng-click="vm.sortWeapon('item.stats.aa')") AA
                                    span(ng-if="vm.weaponSort=='item.stats.aa'")
                                        i.fa.fa-arrow-down(ng-if="!vm.weaponAsc")
                                        i.fa.fa-arrow-up(ng-if="vm.weaponAsc")
                            th
                                a(href="" style="white-space:nowrap;" ng-click="vm.sortWeapon('item.stats.inventory')") Inv
                                    span(ng-if="vm.weaponSort=='item.stats.inventory'")
                                        i.fa.fa-arrow-down(ng-if="!vm.weaponAsc")
                                        i.fa.fa-arrow-up(ng-if="vm.weaponAsc")
                            
                    tbody
                        tr(ng-if="!r.hidden" ng-repeat="r in vm.weapons | orderBy:vm.weaponSort:!vm.weaponAsc")
                            td.item-image(ng-style="{'background-image':'url(//www.bungie.net'+r.item.icon+')'}")
                                .primary-stat(ng-class="item.damageType+'-bg'") {{r.item.light}}
                            td {{r.item.name}}
                                .visible-xs-block 
                                    i {{r.item.type}}
                            td.hidden-xs {{r.item.type}}
                            td.hidden-xs
                                div(ng-repeat="col in r.item.steps")
                                    span(ng-repeat="step in col")
                                        a(href="" data-toggle="popover" data-trigger="focus" data-placement="top" ng-attr-title="{{step.name}}"
                                        ng-attr-data-content="{{step.desc}}" ng-click="vm.stepTip($event)")
                                            | {{step.name}}

                                        span(ng-if="!$last")  | 
                            td
                                b {{r.vendor}}
                                div(ng-if="r.resetDays==1")
                                    small Resets every day
                                div(ng-if="r.resetDays>1")
                                    small Resets every {{r.resetDays}} days
                                div(ng-repeat="c in r.costs") {{c.value}} {{c.name}} 
                            td.hidden-xs {{r.item.stats.impact}}
                            td.hidden-xs.hidden-sm {{r.item.stats.range}}
                            td.hidden-xs.hidden-sm.hidden-md {{r.item.stats.stability}}
                            td.hidden-xs.hidden-sm.hidden-md {{r.item.stats.rof}}
                            td.hidden-xs.hidden-sm.hidden-md {{r.item.stats.reload}}
                            td.hidden-xs.hidden-sm.hidden-md {{r.item.stats.magazine}}
                            td {{r.item.stats.aa}}
                            td {{r.item.stats.inventory}}
            #emblems.tab-pane.fade
                table.table.table-condensed(ng-cloak)
                    thead
                        tr
                            th
                            th Name
                            th.hidden-xs.hidden-sm.hidden-md Banner
                            th Vendor
                    tbody
                        tr(ng-repeat="r in vm.emblems | orderBy:'glimmer':true")
                            td.item-image-big(ng-style="{'background-image':'url(//www.bungie.net'+r.item.icon+')'}")
                                .primary-stat(ng-class="item.damageType+'-bg'") {{r.item.light}}
                            td {{r.item.name}}
                            td.hidden-xs.hidden-sm.hidden-md <img ng-src="//www.bungie.net/{{r.item.banner}}" width="400" height="96" />
                            td
                                b {{r.vendor}}
                                div(ng-if="r.resetDays==1")
                                    small Resets every day
                                div(ng-if="r.resetDays>1")
                                    small Resets every {{r.resetDays}} days
                                div(ng-repeat="c in r.costs") {{c.value}} {{c.name}}
            #shaders.tab-pane.fade
                table.table.table-condensed(ng-cloak)
                    thead
                        tr
                            th
                            th Name
                            th Vendor
                    tbody
                        tr(ng-repeat="r in vm.shaders | orderBy:'glimmer':true")
                            td.item-image(ng-style="{'background-image':'url(//www.bungie.net'+r.item.icon+')'}")
                                .primary-stat(ng-class="item.damageType+'-bg'") {{r.item.light}}
                            td {{r.item.name}}
                            td
                                b {{r.vendor}}
                                div(ng-if="r.resetDays==1")
                                    small Resets every day
                                div(ng-if="r.resetDays>1")
                                    small Resets every {{r.resetDays}} days
                                div(ng-repeat="c in r.costs") {{c.value}} {{c.name}}
            #ships.tab-pane.fade
                table.table.table-condensed(ng-cloak)
                    thead
                        tr
                            th
                            th Name
                            th Vendor
                    tbody
                        tr(ng-repeat="r in vm.ships | orderBy:'glimmer':true")
                            td.item-image(ng-style="{'background-image':'url(//www.bungie.net'+r.item.icon+')'}")
                                .primary-stat(ng-class="item.damageType+'-bg'") {{r.item.light}}
                            td {{r.item.name}}
                            td
                                b {{r.vendor}}
                                div(ng-if="r.resetDays==1")
                                    small Resets every day
                                div(ng-if="r.resetDays>1")
                                    small Resets every {{r.resetDays}} days
                                div(ng-repeat="c in r.costs") {{c.value}} {{c.name}}


    include adhocmobile
    script.
        function initMe() {
            console.log("init");
            var hash = document.location.hash;
            var prefix = "tab_";
            if (hash) {
                $('.nav-tabs a[href="' + hash + '"]').tab('show');
            }
            $('.nav-tabs a').on('show.bs.tab', function (e) {
                window.location.hash = e.target.hash;
            });
        }