extends layout

block content
    div(ng-app="vennApp",ng-controller="mainController")
        toaster-container
        form.form-inline.padded(ng-submit="submitVenn(data.query)")
            .form-group(style="margin-bottom:5px;")
                label.checkbox-inline
                    input(id='vennPlatform', type='checkbox', data-toggle='toggle', data-on='PSN', data-off='XBL', data-onstyle="info", data-offstyle="success", style="margin-bottom: 5px")
            .form-group(ng-class="data.query.gt1.validclass")
                input.form-control(ng-model='data.query.gt1.value', placeholder='Your gamertag', required='true')
            .form-group(ng-class="data.query.gt2.validclass")
                input.form-control(ng-model='data.query.gt2.value',placeholder="Friend #1's GT", required='true')
            .form-group(ng-class="data.query.gt3.validclass")
                input.form-control(ng-model='data.query.gt3.value',placeholder="Friend #2's GT")
            .form-group
                button.btn.btn-primary(type='submit', value='Search', ng-click="data.query.refresh=false") <i class="fa fa-search" aria-hidden="true"></i>
                button.btn.btn-primary(type='submit', value='Search', ng-click="data.query.refresh=true") <i class="fa fa-refresh" aria-hidden="true"></i>
                span(ng-show="data.loading==true")
                    |  <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
        ul.nav.nav-tabs.nav-condensed(role='tablist')
            li.active
                a(href='#quests', role='tab', data-toggle='tab') Quests
            li
                a(href='#bounties', role='tab', data-toggle='tab') Bounties
            li
                a(href='#weekly', role='tab', data-toggle='tab') Weekly
            li
                a(href='#notes', role='tab', data-toggle='tab') Notes
        .tab-content
            #quests.tab-pane.active
                br
                form
                    .form-group
                        select.form-control(ng-model="data.query.filter")
                            option(value="someQuests") Some quests in common
                            option(value="someSteps") Some steps in common
                            option(value="allQuests") All quests in common
                            option(value="allSteps") All steps in common
                            option(value="everything") Everything
                .table-responsive
                    table.table.table-condensed(ng-if="data.goodPlayers && data.goodPlayers.length>=2")
                        colgroup(span="1", style="border-right: 1px dashed #222222;")
                        colgroup(ng-repeat="player in data.goodPlayers", span="{{player.chars.length}}", style="border-right: 1px dashed #222222;")
                        thead
                            tr
                                th 
                                    a(ng-href="{{getDirectLink(data.query)}}")    
                                        i.fa.fa-bookmark-o(aria-hidden='true')
                                        |  Link
                                    | 
                                    a.f2(title='Show Hidden', href='', ng-show="data.questsHidden==true", ng-click="showAllQuests()")
                                        i.fa.fa-plus-square(aria-hidden='true')
                                th(ng-repeat="player in data.goodPlayers", colspan="{{player.chars.length}}")
                                    a(role='button', ng-href='https://www.destinychecklist.net/tabs/{{data.query.platform}}/{{player.encodeName}}',
                                    title="View Player Report", target="_blank", rel="noopener") {{player.value}}
                        tbody
                            tr
                                th Chars
                                    
                                td(ng-repeat="char in data.allChars")
                                    span.visible-xs {{char.class.charAt(0)}}
                                    span.hidden-xs {{char.class}}

                            tr.f2(ng-repeat="q in data.quests| filter:filterQuests  |orderBy:'name'" ng-show="!q.hidden")
                                td(ng-class="q.membersOnSameStep==data.goodPlayers.length?'success':q.membersOnSameStep>1?'info':''")
                                    small
                                        a(title='hide', href='' ng-click='hideQuest(q)')
                                            i.fa.fa-minus-square-o(aria-hidden='true')
                                    | &emsp;
                                    a(href='', ng-click='clickToOpen(q)') {{q.name}}
                                    
                                td(ng-repeat="c in q.chars track by $index" ng-class="c>0?'bg-primary':'active'")
                                    span(ng-if="c>0")
                                        span.visible-xs {{c}}
                                        span.hidden-xs &nbsp;Step&nbsp{{c}}
                

            #bounties.tab-pane.fade
                br
                form
                    .form-group
                        select.form-control(ng-model="data.query.btyFilter")
                            option(value="someBounties") Some bounties in common
                            option(value="allBounties") All bounties in common
                            option(value="everything") Everything
                .table-responsive
                    table.table.table-condensed(ng-if="data.goodPlayers && data.goodPlayers.length>=2")
                        colgroup(span="1", style="border-right: 1px dashed #222222;")
                        colgroup(ng-repeat="player in data.goodPlayers", span="{{player.chars.length}}", style="border-right: 1px dashed #222222;")
                        thead
                            tr
                                th <a ng-href="{{getDirectLink(data.query)}}">
                                    i.fa.fa-bookmark-o(aria-hidden='true')
                                    |  Link
                                th(ng-repeat="player in data.goodPlayers", colspan="{{player.chars.length}}")
                                    a(role='button', ng-href='https://www.destinychecklist.net/tabs/{{data.query.platform}}/{{player.encodeName}}',
                                    title="View Player Report", target="_blank", rel="noopener") {{player.value}}
                        tbody
                            tr
                                th Chars
                                td(ng-repeat="char in data.allChars")
                                    span.visible-xs {{char.class.charAt(0)}}
                                    span.hidden-xs {{char.class}}
                            tr(ng-repeat="q in data.bounties| filter:filterBounties |orderBy:'name'")
                                td <a href="" ng-click="clickToOpenBty(q)">{{q.name}}</a>
                                td(align="center", ng-repeat="c in q.chars track by $index" ng-class="c>0?'bg-primary':'active'")
                                    span(ng-if="c==true") <i class="fa fa-play-circle" aria-hidden="true"></i>

            #weekly.tab-pane.fade
                br
                .table-responsive
                    table.table.table-condensed(ng-if="data.goodPlayers && data.goodPlayers.length>=2")
                        colgroup(span="1", style="border-right: 1px dashed #222222;")
                        colgroup(ng-repeat="player in data.goodPlayers", span="{{player.chars.length}}", style="border-right: 1px dashed #222222;")
                        thead
                            tr
                                th <a ng-href="{{getDirectLink(data.query)}}">
                                    i.fa.fa-bookmark-o(aria-hidden='true')
                                    |  Link
                                th(ng-repeat="player in data.goodPlayers", colspan="{{player.chars.length}}")
                                    a(role='button', ng-href='https://www.destinychecklist.net/tabs/{{data.query.platform}}/{{player.encodeName}}',
                                    title="View Player Report", target="_blank", rel="noopener") {{player.value}}
                        tbody
                            tr
                                th Chars
                                td(ng-repeat="char in data.allChars")
                                    span.visible-xs {{char.class.charAt(0)}}
                                    span.hidden-xs {{char.class}}
                            tr
                                th Wrath
                                td(align="center", ng-repeat="c in data.weekly track by $index"
                                ng-class="c.wrath.nmComplete==true?'bg-success':'active'")
                                    i.fa.fa-check(ng-if="c.wrath.nmComplete||c.wrath.hmComplete")
                            tr
                                th Daily PvE
                                td(align="center", ng-repeat="c in data.weekly track by $index"
                                ng-class="c.dailyHeroic==true?'bg-success':'active'")
                                    i.fa.fa-check(ng-if="c.dailyHeroic==true")
                            tr
                                th Daily PvP
                                td(align="center", ng-repeat="c in data.weekly track by $index"
                                ng-class="c.dailyPvp==true?'bg-success':'active'")
                                    i.fa.fa-check(ng-if="c.dailyPvp==true")
                            tr
                                th Wkly PvE
                                td(align="center", ng-repeat="c in data.weekly track by $index"
                                ng-class="c.weeklyHeroic==true?'bg-success':'active'")
                                    i.fa.fa-check(ng-if="c.weeklyHeroic==true")
                            tr
                                th Wkly PvP
                                td(align="center", ng-repeat="c in data.weekly track by $index"
                                ng-class="c.weeklyCrucible==true?'bg-success':'active'")
                                    i.fa.fa-check(ng-if="c.weeklyCrucible==true")
                            tr
                                th Nightfall
                                td(align="center", ng-repeat="c in data.weekly track by $index"
                                ng-class="c.nightfall==true?'bg-success':'active'")
                                    i.fa.fa-check(ng-if="c.nightfall==true")
                            tr
                                th CoE
                                td(align="center", ng-repeat="c in data.weekly track by $index" ng-class="c.done?'bg-success':'active'")
                                    i.fa.fa-check(ng-if="c.done")
                            tr
                                th King's Fall
                                td(align="center", ng-repeat="c in data.weekly track by $index" 
                                ng-class="c.kf.hmComplete==true?'bg-success':c.kf.nmComplete==true?'bg-warning':'active'")
                                    i.fa.fa-check(ng-if="c.kf.nmComplete||c.kf.hmComplete")
                            //tr
                            //    th Gunsmith
                            //    td(align="center", ng-repeat="c in data.weekly track by $index" 
                            //    ng-class="c.gunsmith.tested>=c.gunsmith.total?'bg-success':c.gunsmith.tested>0?'bg-warning':'active'") 
                            //        span(ng-if="c.gunsmith.tested>0") {{c.gunsmith.tested}} / {{c.gunsmith.total}}
                            tr
                                th Crota's End
                                td(align="center", ng-repeat="c in data.weekly track by $index"
                                ng-class="c.ce.hmComplete==true?'bg-success':c.ce.nmComplete==true?'bg-warning':'active'")
                                    i.fa.fa-check(ng-if="c.ce.nmComplete||c.ce.hmComplete")
                            tr
                                th VOG
                                td(align="center", ng-repeat="c in data.weekly track by $index"
                                ng-class="c.vog.hmComplete==true?'bg-success':c.vog.nmComplete==true?'bg-warning':'active'")
                                    i.fa.fa-check(ng-if="c.vog.nmComplete||c.vog.hmComplete")


            #notes.tab-pane.fade
                br
                ul
                    li For Quests, if all players have a character with a matching quest step, it's highlilghted in green. If at least 2 have a matching step it's highlighted in blue.
                    li Click on a quest link to pop up a list of all the steps in the quest, with a marker for each character's spot in the progression. Steps with multiple characters are highlighted in blue.
                    li For bounties, click on the bounty name to pop up a list of all the bounty objectives. Completed objectives are highlighted in green.
                    li The Weekly menu includes daily and weekly activities. Completed items are highlighted in green, somewhat complete items are highlighted in yellow.
                    li The Shaxx bounty will show a ? if the user isn't holding the bounty but has enough Crucible rep in the week that it's likely they completed all 5 bounties. This is just a guess, if they did a lot of normal PVP bounties/quests it could be a false positive.
                    li If you have any other questions, suggestions, etc just contact me on reddit, see the info in the footer. Happy hunting, Guardian!
                    


        #questModal.modal.fade(tabindex='-1', role='dialog')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title {{data.selectedQuest.name}}
                    .modal-body
                        ul.list-group
                            li.list-group-item(ng-repeat='step in data.selectedQuest.steps', ng-class="step.chars.length>1?'list-group-item-info':''")
                                p <b>{{$index+1}}: {{step.name}}</b><br/> {{step.desc}}
                                span(ng-repeat="char in step.chars")
                                    span.label.label-primary {{char.parent.value}} - {{char.class}}
                                    | 
        #btyModal.modal.fade(tabindex='-1', role='dialog')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title {{data.selectedBty.name}}
                    .modal-body
                        p {{data.selectedBty.desc}}
                        ul.list-group
                            li.list-group-item(ng-repeat='obj in data.selectedBty.objectives')
                                h4 {{obj.item}}
                                p(ng-repeat="charProg in obj.progress", ng-class="charProg.progress>=obj.value?'bg-success':''")
                                    | {{charProg.char.parent.value}} - {{charProg.char.class}} 
                                    b {{charProg.progress}} / {{obj.value}}
    include adhocmobile
    

    if player
        script.
            var VENN_PLATFORM = #{player.platform};
            var VENN_NAME = '#{player.name}';
            var VENN_NAME2 = '#{player.name2}';
            var VENN_NAME3 = '#{player.name3}';
    else
        script.
            var VENN_PLATFORM = null;
            var VENN_NAME = null;
            var VENN_NAME2 = null;
            var VENN_NAME3 = null;
    script.       
        function initMe() {
        }